//font-family: 'RescueW01-SemiBold';

  @font-face {
    font-family: 'MaisonNeue';
    src: url(/public/font/Maison_Neue_thin.ttf)  format('woff');
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: 'MaisonNeue';
    src: url(../font/Maison_Neue_medium.ttf)  format('woff');
    font-weight: 500;
    font-display: swap;
  }
  // @font-face {
  //   font-family: 'MaisonNeue';
  //   src: url(../font/Maison_Neue_Bold.ttf)  format('woff');
  //   font-weight: 600;
  //   font-display: swap;
  // }
  @font-face {
    font-family: 'MaisonNeue';
    src: url(../font/Maison_Neue_Bold.ttf)  format('woff');
    font-weight: 700;
    font-display: swap;
  }
 