//font-family: 'RescueW01-SemiBold';

  @font-face {
    font-family: 'MaisonNeue';
    src: url(/public/font/MaisonNeueWEB-Light.woff2)  format('woff2');
    font-weight: 400;
    font-display: swap;
  }
  // @font-face {
  //   font-family: 'MaisonNeue';
  //   src: url(../font/Maison_Neue_medium.ttf)  format('ttf');
  //   font-weight: 400;
  //   font-display: swap;
  // }
  @font-face {
    font-family: 'MaisonNeue';
    src: url(/public/font/MaisonNeueWEB-Demi.woff2)  format('woff2');
    font-weight: 700;
    font-display: swap;
  }
 