// Colors
$primaryColor:           #FFD52B !default;
$colorForDarkBg:           #AEADAD !default;
$colorForGreyBg:           #3E444A !default;
$colorForFooter:           #787878 !default;

$greyBg: #EFEFEF!default;
$grey:  #D9D9D9!default;
$white:                  #fff !default;
$black:                  #0A1119;
$red:                    #F1582C;
$yellow:                 #E2FF06 !default;
$accentColor:            #4B535D !default;

// Shadows

// Alert Colors
$success:     #28a745 !default;
$info:        #17a2b8 !default;
$warning:     #ffc107 !default;
$danger:      #dc3545 !default;

// Typography
$primary-font:           "Outfit", sans-serif;


