// Colors
$primaryColor:           #EF4136 !default;

$greyBg: #EFEFEF!default;
$grey:  #D9D9D9!default;
$white:                  #fff !default;
$black:                  #0A1119;
$red:                    #F1582C;
$yellow:                 #E2FF06 !default;
$accentColor:            #272424 !default;
$bodyText:            #737374 !default;

// Shadows

// Alert Colors
$success:     #28a745 !default;
$info:        #17a2b8 !default;
$warning:     #ffc107 !default;
$danger:      #dc3545 !default;

// Typography
$primary-font:           "MaisonNeue", sans-serif;


