h1,.h1,
h2,.h2,
h3,
h4,
h5,
h6 {

}
h2 span,h1 span{

}
h1,.h1,h1 span,.h1 span{
  
// line-height: 100% ;
  // font-size:  clamp(30px, 5vw, 96px);
}

h2,.h2,
h2 span ,.h2 span,h2 strong{
  
     font-size: 25px;
     margin-bottom: 10px;
     @include min(576){font-size: 30px; margin-bottom: 18px;}
     @include min(768){font-size: 33px; margin-bottom: 20px;}
     @include min(992){font-size: 35px; margin-bottom: 22px;}
     @include min(1200){font-size: 40px; margin-bottom: 24px;}
     @include min(1280){font-size: 45px; margin-bottom: 28px;}
     @include min(1350){font-size: 50px; margin-bottom: 30px;}
     @include min(1440){font-size: 55px; margin-bottom: 32px;}
     @include min(1600){font-size: 60px; margin-bottom: 34px;}
     @include min(1900){font-size: 64px; margin-bottom: 36px;}
}

h3,
.h3,.h3 strong {
  font-weight: 700;
  font-size: 18px;
     @include min(992){font-size: 20px;}
     @include min(1200){font-size: 22px;}
     @include min(1280){font-size: 24px;}
     @include min(1350){font-size: 26px;}
     @include min(1440){font-size: 28px;}
     @include min(1600){font-size: 30px;}
     @include min(1900){font-size: 32px;}
 
}
h4,
.h4,.h4 strong {
  font-weight: 500;

  font-size: 13px;

  @include min(768) {
    font-size: 14px;
  }
  @include min(992) {
    font-size: 13px;
  }
  @include min(1200) {
    font-size: 14px;

  }
  @include min(1280) {
    font-size: 14px;

  }
  @include min(1350) {
    font-size: 17px;

  }
  @include min(1440) {
    font-size: 16px;
  }
  @include min(1600) {
    font-size:  17px;
  }
  @include min(1900) {
    font-size: 20px;
  }


}


h5,
.h5,.h5 strong {
  font-weight: 500;

  font-size: 12px;

  @include min(768) {
    font-size: 13px;
  }
  @include min(992) {
    font-size: 12px;
  }
  @include min(1200) {
    font-size: 13px;

  }
  @include min(1350) {
    font-size: 14px;

  }
  @include min(1440) {
    font-size: 15px;
  }
  @include min(1600) {
    font-size:  16px;
  }
  @include min(1900) {
    font-size: 18px;
  }


}
p{
  margin-bottom: 0;
}
