.about-page{
    .about-content{
        @include min(992){
            width: 43.512%;

        }
    }
}

.vision-mission{
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    
    .vision, .mission{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-left: 1px solid #EEEEEE;
        padding: clamp(15px, 2.4479vw, 47px);
        width:50%;

        @include min(992){
                  width: 28.215%;

        }
    }
    picture{
        width: 100%;
        @include max(991){
            padding-bottom: 40px;
            margin-top: 20px;
        }
        @include min(992){
            width: 43.5%;

        }
    }
    img{
        width: 100%;
        height: auto;
    }
    span{
        line-height: 100%;
        display: block;
        color: $primaryColor;
        margin-bottom: clamp(9px, 0.886vw, 17px);
    }
    span,h3{
        font-weight: 700;
    }
    h3{
        color: #000;
        text-transform: uppercase;



    }
}




.our-stories-slider{
    width: 100%;
    @include max(991){
        margin-top: 20px;
    }
    @include min(992){
        padding-left:  clamp(44px, 4.0625vw, 78px);
        border-left: 1px solid #000;
        width: 85.179%;

    }
    &-item{
            border-radius: 20px;
        background: rgba(217, 217, 217, 0.22);
        padding: 13px 29px;
        @include min(768){ padding: 15px 32px;}
        @include min(992){ padding: 17px 35px;}
        @include min(1200){ padding: 19px 38px;}
        @include min(1350){ padding: 21px 41px;}
        @include min(1440){ padding: 23px 44px;}
        @include min(1600){ padding: 25px 47px;}
        @include min(1900){ padding: 27px 50px;}
   
    }
        h3{
            color: #000;
            
            @extend h4;
            font-weight: 700!important;

    }
}
.our-stories-wrapper{
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    padding-top: 20px;
    margin-bottom: clamp(30px, 3.12499vw, 60px);

}
.our-stories-nav {
    margin-left: auto;
    @include min(992){
        width: 84.12%;

    }
    .slick-slide{
           margin: 0px -10px;
            @include min(768){margin: 0px -15px;}
            @include min(992){margin: 0px -20px;}
            @include min(1200){margin: 0px -25px;}
            @include min(1350){margin: 0px -30px;}
            @include min(1440){margin: 0px -34px;}
            @include min(1600){margin: 0px -40px;}
            @include min(1900){margin: 0px -58px;}

    }
    .slick-slide{
        padding-bottom: 16px;
            margin: 0px 10px;
            @include min(768){margin: 0px 15px;}
            @include min(992){margin: 0px 20px;}
            @include min(1200){margin: 0px 25px;}
            @include min(1350){margin: 0px 30px;}
            @include min(1440){margin: 0px 34px;}
            @include min(1600){margin: 0px 40px;}
            @include min(1900){margin: 0px 58px;}
    }
}
.our-stories-item {
    text-align: center;
    cursor: pointer;
         
}

.year{
    line-height: normal;
    margin-bottom: -6px;
    @extend h4;
}
.slick-current.slick-active{
    .year{
        color: $primaryColor;
        font-weight: 700;

    }
    p{
        color: #000;
        margin-top:7px;
    }


}
.our-stories{
    background-image: url(/public/images/vector/stories.png);
    background-size: 64.6%;
    background-position: left top;
    background-repeat: no-repeat;
    .container-ctn{
        h2{
            font-size: clamp(18px, 1.67vw, 32px);

        }
    }
    .slick-nav-count{
        height: fit-content;
    }
}


// ==========ceo===============
.ceo{
    position: relative;
    picture{
    position: relative;
     height: fit-content;
    width: 140px;
    display: flex;
    align-items: end;
    justify-content: center;
    @include max(767){
        margin-left: auto;
        margin-right: auto;
        order: 2;
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
    @include min(768){
        margin-top: clamp(20px, 2.135399vw, 41px);
         width: 28.2734%;
    }
    img{
        height: auto;
        width: 100%;
    }
        &::before{
            @extend .position;
                    border-radius: 0 0 10px 10px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFE2E0 82.98%);
            width: 100%;
            height: 34.125%;
            bottom: -1px;
            left: 0;
            @include min(768){
                bottom: 0;
          border-radius: 0 0 30px 30px;
            }

        }

    }
    &-message{
        border-radius: 20px;
        border: 1px solid $primaryColor;
        width: 80%;
        padding: 25px 19px 50px 0px;
        @include max(767){margin-left: auto;margin-right: auto;}
        @include min(768){padding: 40px 23px 46px  0px;    width: 64.893%;}
        @include min(992){padding: 30px 27px 30px 0px}
        @include min(1200){padding: 35px 31px 35px  0px;}
        @include min(1350){padding: 52px 35px 58px  0px;}
        @include min(1440){padding: 56px 39px 62px  0px;}
        @include min(1600){padding: 60px 43px 66px  0px;}
        @include min(1900){padding: 64px 47px 70px  0px;}
      >  div{
            display: flex;
            flex-direction: column;
            background: #fff;
            margin-left: -20px;
            @include min(768){margin-left: -22px;}
            @include min(992){margin-left: -24px;}
            @include min(1200){margin-left: -26px;}
            @include min(1350){margin-left: -28px;}
            @include min(1440){margin-left: -30px;}
            @include min(1600){margin-left: -32px;}
            @include min(1900){margin-left: -34px;}
            >p{
                margin-bottom: 22px;
                @include min(768){margin-bottom: 24px;}
                @include min(992){margin-bottom: 26px;}
                @include min(1200){margin-bottom: 28px;}
                @include min(1350){margin-bottom: 30px;}
                @include min(1440){margin-bottom: 32px;}
                @include min(1600){margin-bottom: 34px;}
                @include min(1900){margin-bottom: 36px;}
            }
            div{
                color: #000;
                @extend h4;
                font-weight: 700!important;
                line-height: 133.333%;
            }
        }
        span{
            display: block;
            font-weight: 300;
            line-height: 100%;
            font-size: clamp(13px, 0.75vw, 16px);
        }
        svg{
            margin-bottom: 20px;
            height: auto;
            width: clamp(42px, 3.94vw, 84px);
        }
        h2{
            margin-bottom: 16px;
            font-size: clamp(18px, 1.69vw, 32px);

        }
        img{
            height: auto;
            margin-top: clamp(6px, 0.5625vw, 12px);
            width:  clamp(140px, 9.8438vw, 210px);
        }

    }
}