.blog-listing-row{
    row-gap: clamp(18px, 1.9vw, 36px);
    column-gap: 4.3%;
    @include min(768){
        column-gap: 1.80%;

    }
    .loading{
        color: #000;
        margin-top:clamp(25px, 2.605vw, 50px);
    }
 
}
.blog-item {
    color: #000;
    width: 47.8%;
    @include min(768){width: 32.1%;}
    @include min(992){width: 23.635%;}

    h3{
        font-size: inherit;
    }

    picture{
        overflow: hidden;
        margin-bottom: clamp(10px, 1.042vw, 20px);
        img{
                    transition: 0.5s ease all;

            width: 100%;
            height: clamp(146px, 12.82vw, 246px);
            object-fit: cover;
        }
    }
    span{
      background: unset;
        display: block;
        margin: 0  auto;
        width: fit-content;
        line-height: 100% ;
        font-weight: 300;
        border-radius: 80px;
            background: rgba(217, 217, 217, 0.35);
            font-size:clamp(12px, 0.834vw, 16px);
            // margin-bottom: clamp(10px, 1.042vw, 20px);
            padding: 3px 6px;
            @include min(768){   padding: 0px 7px;}
            @include min(1200){   padding: 0px 8px;}
            @include min(1350){   padding: 0px 9px;}
            @include min(1600){   padding: 0px 10px;}

        
    }
            transition: 0.5s ease all;

    &:hover{
        transition: 0.5s ease all;
        transform: translateY(-1%);
        img{
            transform: scale(1.2);
                    transition: 0.5s ease all;
                    filter: saturate(0);

        }
        .blog-details{      
            transition: 0.5s ease all;
        }
    }
}

.blog-listing-row{
     .blog-item{
      span{
        margin-left: 0;
        border-radius: 80px;
background: rgba(217, 217, 217, 0.35);
line-height: 100%;
font-size:clamp(12px, 0.834vw, 16px);
margin-bottom: clamp(10px, 1.042vw, 20px);
padding: 3px 5px;
@include min(768){padding: 4px 7px;}
@include min(992){padding: 5px 8px;}
@include min(1200){padding: 7px 10px;}


      }
    }
}
// ========================================Blog Detail==============================================


.blog-info{
  .profile{
    gap: 12px;
    @include max(991){
      width: 100%;
      justify-content: space-between;
    }
  }
  .views{
    margin-left: 6px;
  }
  .meta-info{
    gap: 18px;
      @include max(991){
        margin-top: 10px;
      width: 100%;
      justify-content: space-between;
    }
    div{
      gap: 8px;
    display: flex;
    align-items: center;
    }
  }
}
.blog-head{
    margin-bottom: clamp(18px, 1.875vw, 36px);
    h1{
        margin-bottom: 20px;
            font-size: clamp(28px, 2.5vw, 48px);
    }
    span{
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: fit-content;
        line-height: 100% ;
        font-weight: 300;
        border-radius: 80px;
            background: rgba(217, 217, 217, 0.35);
            font-size:clamp(12px, 0.834vw, 16px);
            margin-bottom: clamp(10px, 1.042vw, 20px);
            padding: 3px 6px;
            @include min(768){   padding: 4px 7px;}
            @include min(1200){   padding: 5px 8px;}
            @include min(1350){   padding: 6px 9px;}
            @include min(1600){   padding: 7px 10px;}

        
    }
        + picture{
      margin-bottom: 18px;
      @include min(992){
        margin-bottom: 28px;
      }
    }
}
.newsDetail {
    picture{

      img{
        border-radius: 10px;
        width: 100%;
        height: auto;
  
      }
    }
  article{
    width: 100%;
    @include min(992){
      width: 62.293%;

    }

    p,li,div{
        line-height: 160%;
    }
    p,h2{
        margin-bottom: 18px;
      
    }
    p{
          &:last-child{
            margin-bottom: 0;
        }
    }



    .navigation-and-share {
      border-top: 1px solid #D9D9D9;
      border-bottom: 1px solid #D9D9D9;
      
      padding: 8px 0px;
      margin-top: 20px;
      width: 100%;
      @include min(992){
              padding: 12.5px 0px;
      margin-top: 31px;
      }
      @include max(991){
        margin-bottom: 30px;
      }
      .share{
        display: flex;
        align-items: center;
        gap: 12px;
        > a{
            color: #4B535D;
          gap: 5px;
          display: flex;
          align-items: center;
          @include min(992){
               gap: 12px;
          }
          svg{
            height: auto;
            width: 15px;
            @include min(992){
              width: 20px;
            }
          }
        }
        ul{
            margin: 0;
          display: flex;
          gap: 8px;
          align-items: center;
          @include min(992){
          gap: 14px;

          }
          svg{
            height: auto;
            width: 18px;
            @include min(992){
                    width: 24px;
            }
          }
        }
        li{
          margin: 0;
          padding-left: 0;
          display: flex;
          align-items: center;
        }
        li:before{
          content: none;
        }
      }
      .navigation{
        display: flex;
        align-items: center;
        a{
            text-transform: uppercase;
            color: #4B535D;
          display: flex;
          align-items: center;
          gap: 4px;
          font-weight: 200;

          + a{
            position: relative;
            padding-left: 14px;
            margin-left: 14px;

            &::before{
                @extend .position;
                background: #4B535D;
                width: 1px;
                height: 17px;
                left: 0;
            }
          }

      
         
           &:hover{
            color: $primaryColor;
            path{
     
                stroke: $primaryColor;

              
            } 
          }
          
         
        }
      }
    }
    ul{
      &:has(li:nth-child(5)) {
       @include min(768){
         column-count: 2;
       }
    }
    }

    p,li{
        margin-bottom: clamp(10px, 0.9375vw, 18px);
        &:last-child{
            margin-bottom: 0;
        }
    }
    ul{
               margin-bottom: clamp(10px, 0.9375vw, 18px);
    }
    h2{
        line-height: 172.222%;
           margin-bottom: clamp(10px, 0.9375vw, 18px);
    }
    .images{
        gap: 2.6%;
        picture{
               &:first-child{
            width: 40.134%;

        }
        &:last-child{
            width: 57.198%;

        }
        }
        img{
            object-fit: cover;
            width: 100%;
            height: clamp(150px, 16.9271vw, 325px);
        }
    }

  }
  h2,h1{
      font-weight: 600;
    
  }
    h2{
      margin-bottom: 18px;
  

    }
  aside{
    position: sticky;
    top: 100px;
    height: fit-content;
    padding: clamp(15px, 2.084vw, 40px);
    width: 100%;
    border-radius: 20px;
background: #F6F6F6;
@include min(992){
    width:35.008%;
}
  
@include min(1200){
    width:32.008%;
}
  
    .recent-article{
        transition: 0.5s ease all;

        border-radius: 10px;
        background: #FFF; 
        color: #000;
        
        
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 4px;
        @include min(992){    padding: 5px;}
        @include min(1200){    padding: 6px;}
        @include min(1350){    padding: 7px;}
        @include min(1440){    padding: 8px;}
        @include min(1600){    padding: 9px;}
        @include min(1900){    padding: 10px;}
        &:hover{
        background: #9ba2ab;
        transition: 0.5s ease all;
    }
        span{
            line-height: 114.286% ;
                display: block;
    width: fit-content;
            line-height: 114.286%;
            border-radius: 80px;
            background: #FFA600;
            padding: 3px 6px;
            font-size:clamp(10px, 0.73vw, 14px);
            margin-bottom: 4px;
            @include min(1200){
                    padding: 4px 7px;
                    margin-bottom: 6px;
            }
            @include min(1440){
                    padding: 5px 8px;
                    margin-bottom: 8px;
            }
            @include min(1600){
                    padding: 6px 9px;
                           margin-bottom: 10px;
            }
            @include min(1900){
                       margin-bottom: 12px;
                    padding: 7px 10px;
            }

        }
    p{
        font-weight: 500;
        border-radius: 10px;
        background: rgba(217, 217, 217, 0.22);
        line-height: 137.5%;
        font-size:clamp(11px, 0.834vw, 16px);
        padding: 3px 8px;
        @include min(992){
            padding: 3.5px 10px;
        }
        @include min(1200){
            padding: 4px 11px;
        }
        @include min(1350){
            padding: 4.5px 11.5px;
        }
        @include min(1440){
            padding: 5px 12px;
        }
        @include min(1600){
            padding: 5.5px 12.5px;
        }
        @include min(1900){
            padding: 6px 13px;
        }

    }
      +a{
        margin-top: 10px;
        @include min(992){
          margin-top: 20px;

        }
      }
      h3{
        font-size: 15px;
        line-height: normal;
        @include min(992){
      font-size: 12px;

    }
        @include min(1200){
      font-size: 14px;

    }
        @include min(1350){
      font-size: 15px;

    }
        @include min(1440){
      font-size: 16px;

    }
        @include min(1600){
      font-size: 18px;

    }
        @include min(1900){
      font-size: 22px;

    }

      }
      img{
        width: 100%;
        height: 80px;
        object-fit: cover;

        @include min(1200){
          height: 85px;
        }
        @include min(1350){
          height: 90px;
        }
        @include min(1440){
          height: 100px;
        }
        @include min(1600){
          height: 120px;
        }
        @include min(1900){
          height: 140px;
        }
      }
      picture{
        width:31.892%;

      }
      div{
        width: 64.01%;

      }

      a{
        i{
          height: 20.917px;
          width: 20.917px;
          @include min(992){
               height: 24.917px;
          width: 24.917px;
          }
          svg{
            width: 8.97px;

          }
        }
      }
    }
  }
}