.career-item{
    margin-top:   clamp(18px, 1.87499vw, 36px);
    padding-top: clamp(18px, 1.87499vw, 36px);
    border-top: 1px solid #DCDCDC
}

.job-role{
    color: #4B535D;
    width: 100%;
    @include max(767){
        margin-bottom: 20px;
    }
    @include min(768){
        width: 33%;

    }
    h3{
        color: #0A1119;
        line-height:  83.333%;
        font-size: clamp(16px, 1.3vw, 24px);
        margin-bottom: 8px;

    }
}
.job-post-col{
    width: 100%;
    @include min(768){
        width: 65.0238%;

    }
}
.job-posts{
    border-radius: 10px;
    border: 1px solid #DDD;
    background: #FFF;
    padding:clamp(15px, 1.9792vw, 38px);
+.job-posts{
    margin-top: 20px;
}
.job-position{
    width: 100%;
    font-weight: 500;
    margin-bottom: clamp(6px, 0.625vw, 12px);
    gap: clamp(5px, 0.48vw, 10px);
}
}
.job-details{
    color: #0A1119;
    width: 100%;
    @include max(1199){
        margin-bottom: 10px;
    }
    @include min(1200){
        width: 78.663%;

    }

    p{
        color: #4B535D;
        font-weight: 300;
   font-size: clamp(14px, 0.84vw, 16px);
        width: 100%;
    }
    ul{
        margin-top:  clamp(16px, 1.24999vw, 24px);
        gap: clamp(10px, 1vw, 20px);
    }
    li,span{
    line-height: 100%;
    display: flex;
    align-items: center;
    font-weight: 300;
    gap: 10px;
    border-radius: 80px;
    background: rgba(217, 217, 217, 0.35);
    padding: 5px 8px;
    font-size: clamp(12px, 0.84vw, 16px);
    @include min(992){    padding: 7px 10px;}
    }
}
.applay-btn{
    line-height: 125%;
    border-radius: 80px;
    background-color: $primaryColor;
    color: #000;
        display: flex;
    align-items: center;
    gap: 5px;
    padding: 0px 12px 0px 16px;
    height: 35px;
   
    @include min(992){
            padding: 0px 13px;
            height: 33px;
               gap: 4px;
    }
    @include min(1200){
            padding: 0px 14px;
            height: 32px;
    }
    @include min(1350){
            padding: 0px 20px;
            height: 34px;
               gap: 6px;
    }
    @include min(1440){
            padding: 0px 23px;
            height: 36px;
    }

    @include min(1600){
            padding: 0px 28px;
            height: 38px;
               gap: 8px;
    }
    @include min(1900){
            padding: 0px 30px;
            height: 42px;
    }
    svg{
        height: auto;
        width: clamp(20px, 1.3542vw, 26px);
    }
    &:hover{
        background: $black;
        color: #fff;
        path{
            fill: #fff;
            stroke: #fff;
        }
    }
}

.career{
    .job-details ul{
        width: 100%;
    }
  .head{

    @include min-max(576,767){
        width: 74%;
    }
    @include max(575){
              width: 100%;
                     margin-bottom: 15px !important;
     
    }
  }
    h1{
        font-size: clamp(28px, 2.499vw, 48px);
    }
}
.career-details {
    p,li{
        color: #4B535D;
        line-height: 160%;

    }
    li{
        font-size:  clamp(15px, 1.02vw, 19.5px);

    }
    p,ul{
        margin-bottom: clamp(8px, 0.94vw, 18px);

    
        +h2{
            margin-top:  clamp(20px, 1.876vw, 36px);
        }
    }
    h2{
        margin-bottom: clamp(10px, 1.876vw, 36px);
    }
    p{
    &:last-child{
            margin-bottom: 0;
        }
    }
    .applay-btn-bottom{
        margin-top: clamp(20px, 1.876vw, 36px);
    }
}