.career{
    .role{
        width: fit-content;
        border-radius: 100px;
        background: #FFE7E5;
        padding: 8px 13px;
        @include min(992){
            padding: 8px 15px;
        }
        @include min(1200){
            padding: 8px 17px;
        }
        @include min(1350){
            padding: 8px 18px;
        }
        @include min(1600){
        padding: 8px 20px;

        }
        margin-bottom: clamp(18px, 1.87498vw, 36px);
        span{
            display: block;
            position: relative;
            color: $primaryColor;
            line-height:  100%;
            transform: translateY(1px);
            padding-left:clamp(14px, 0.9375vw, 18px);
            font-size: clamp(12px, 0.84vw, 16px);
            &:before{
                @extend .position;
                width: clamp(7px, 0.5209vw, 10px);
                height: clamp(7px, 0.5209vw, 10px);
                border-radius: 50%;
                background: $primaryColor;
                left: 0;
                top: 45%;
                transform: translateY(-50%);
            }
        }
    }
    .careerRow {
    gap:30px 2.23%;
    @include min(576){gap: 15px 2.23%;}
    @include min(768){gap: 18px 2.23%;}
    @include min(992){gap: 22px 2.23%;}
    @include min(1200){gap: 26px 2.23%;}
    @include min(1350){gap: 30px 2.23%;}
    @include min(1600){gap: 35px 2.23%;}
    @include min(1900){gap: 40px 2.23%;}
    }

}
.career-card{
        border-radius: 20px;
        border: 1px solid #EEE;
        background: #FFF;
        width:100%;
        padding: clamp(15px, 1.87498vw, 36px);
        @include min(576){
            width: 48.8%;
        }
        @include min(992){
            width: 31.846%;

        }
    h3{
        line-height:  100%;
        color: #000;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: clamp(8px, 0.62498vw, 12px);
    }
    .info{
        gap: 20px;
        margin-bottom:  clamp(9px, 0.8854vw, 17px);
        li{
            line-height:  100%;
            display: flex;
            align-items: center;
            gap: 8px;
            color: #A6A6A6;
            font-size:  clamp(12px, 0.84vw, 16px);

        }
        svg{
            transform: translateY(-1.5px);
        }
    }
    strong{
        display: block;
        margin-bottom: 8px;
    }
    .butonGroup {
        margin-top:  clamp(18px, 1.87498vw, 36px);
        gap:  clamp(6px, 0.84vw, 16px);
      
    }
  
}


.career-detail{
    ul.info{
        gap: 11px;
        @include min(768){gap: 5px;}
        @include min(1200){gap: 5px;}
        @include min(1350){gap: 6px;}
        @include min(1440){gap: 9px;}
        @include min(1600){gap: 14px;}
        @include min(1900){gap: 20px;}
        li{
            display: flex;
            align-items: center;
            gap: 8px;
           
            @include min(992){ gap: 5px;}
            @include min(1200){ gap: 6px;}
            @include min(1600){ gap: 8px;}
            svg{
                height: auto;
                transform: translateY(-1px);
                width: 15px;
                @include min(768){width:15px;}
                @include min(992){width: 13px;}
                @include min(1200){width: 14px;}
                @include min(1350){width: 17px;}
                @include min(1600){width: 18px;}
            }
        }
    }
    .careerInfo{
        border-bottom: 1px solid #EEE;
        padding-bottom: clamp(16px, 1.6667vw, 32px);
        margin-bottom:  clamp(26px, 2.6563vw, 51px);
        h1{
            margin-bottom: clamp(8px, 0.8854vw, 17px);
        }
        .right{
            gap: 12px;
            @include max(575){
                margin-top: 10px;
                width: 100%;
            }
        }
        .left{
            @include max(575){
                width: 100%;
            }
        }
    }
    .share{
        border-radius: 5px;
        border: 1px solid #BFBFBF;
        background: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
        width: clamp(28px, 2.396vw, 46px);
        height: clamp(28px, 2.396vw, 46px);
        
        &:hover{
            background: #BFBFBF;
            path{
                fill: #fff;
            }
        }

        svg{
            height: auto;
            width: clamp(18px, 1.4584vw, 28px);

        }
    }
    article{
        width: 100%;
        @include min(768){
            width: 66.31%;

        }
        .description{
                 ul{
            padding-left: 5px;
            li{
                position: relative;
                padding-left: 16px;
                @include min(992){        padding-left:18px;}
                @include min(1200){        padding-left: 22px;}
                &::after{
                    @extend .position;
                    background: #737374;
                    border-radius: 50%;
                    left: 0;
                    top: 7px;width: 6.5px;height:  6.5px;
                    @include min(768){  top: 6px;width: 7px;height: 7px;}
                    @include min(992){  top:3px;width: 7.5px;height: 7.5px;}
                    @include min(1200){  top: 4px;width: 8px;height: 8px;}
                    @include min(1350){  top: 5px;width: 8.5px;height: 8.5px;}
                    @include min(1440){  top: 6px;width: 9px;height: 9px;}
                    @include min(1600){  top: 7px;width: 9.5px;height: 9.5px;}
                    @include min(1900){  top: 9px;width: 10px;height: 10px;}
                }
            }
        }
        p +,ul +,ol +{
        h2,h3{
            margin-top: clamp(18px, 1.88vw, 36px);
        }
        }

        h2,h3{
            @extend h4;
            margin-bottom: clamp(10px, 0.84vw, 16px);
        }

    }
}
.info{
      li{
    font-size: 11.5px;
    @include min(768){
        font-size: 10px;
    }
    @include min(992){
        font-size: clamp(8px, 0.84vw, 16px);

    }


}
}
aside{
    height: fit-content;
    border-radius: 20px;
    border: 1px solid #EEE;
    background: #FFF;
    padding: clamp(18px, 1.88vw, 36px);
    width: 100%;
    @include max(767){
        margin-top: 20px;
    }
    @include min(768){
            width: 30.1199%;
            position: sticky;
            top: 100px;
    }
    .view-more {
        color: $primaryColor;
        line-height: 133.333%;
        margin-top: clamp(18px, 1.9vw, 36px);
        font-size: clamp(14px, 0.94vw, 18px);
        &:hover{
            color: #000;
        }

    }
    h3{
        @extend h4;
        color: #000;

        margin-bottom: clamp(18px, 1.876vw, 36px);
    }
    .info{
        li{
             @include min-max(768,991){
                width: 100%;
            }
        }
    }
}
.related-card{
    border-radius: 10px;
    background: #F1F1F1;
    padding: 15px;
    @include min(768){padding: 12px;}
    @include min(992){padding: 13px;}
    @include min(1200){padding: 16px;}
    @include min(1350){padding: 18px;}
    @include min(1440){padding: 20px;}
    @include min(1600){padding: 22px;}
    @include min(1900){padding: 24px;}
    + div{
        margin-top: clamp(7px, 0.625vw, 12px);
    }
    h4{
        line-height: 133.333%;
             @extend h5;
    color: #000;
    text-transform: uppercase;
    font-weight: 700!important;
    margin-bottom: 12px;

    }
  
    a{
        &.aside{
            color: #272424;
            line-height: normal;
            display: flex;
            align-items: center;
            border-radius: 100px;
            background: #FFF;
            font-size: 12px;
            gap: clamp(8px, 0.61vw, 12px);
            margin-top: 20px;
            padding: 3.5px 10.5px;
            @include min(768){padding: 4px 11px; font-size: 11px;}
            @include min(992){padding: 4.5px 11.5px;font-size: 11.5px;}
            @include min(1200){padding: 5px 12px; font-size: 12px;}
            @include min(1350){padding: 5.5px 12.5px;font-size: 12.5px;}
            @include min(1440){padding: 6px 13px;font-size: 13px;}
            @include min(1600){padding: 6.5px 13.5px;font-size: 13.5px;}
            @include min(1900){padding: 7px 14px;font-size: 14px;}
            &:hover{
                background: $primaryColor;
                color: #fff;
                path{
                    stroke: #fff;
                }
            }
        }
    }

}


a{
    width: fit-content;
}
}