.contact-page{
  h1{
    @extend h2;
    color: #000;
    @include max(575){
      margin-bottom: 25px!important;
    }

  }
  aside{
        width: 100%;
    @include min(576){
      width: 36.489%;

    }
    picture{
      margin-bottom: clamp(18px, 1.875vw, 36px);
      img{
        width: 100%;
        object-fit: cover;
        height: 160px;
        @include min(576){height: 160px;}
        @include min(768){height: 160px;}
        @include min(992){height: 204px;}
        @include min(1200){height: 209px;}
        @include min(1350){height: 237px;}
        @include min(1440){height: 252px;}
        @include min(1600){height: 271px;}
        @include min(1900){height: 300px;}
      }
    }
    textarea{
      height: 100px;
      @include min(576){height: 120px;}
      @include min(768){height: 130px;}
      @include min(992){height: 140px;}
      @include min(1200){height: 150px;}
      @include min(1350){height: 160px;}
      @include min(1440){height: 170px;}
      @include min(1600){height: 175px;}
      @include min(1900){height: 189px;}
    }
  }
  article{
    width: 100%;
    @include min(576){
      width: 59.465%;
    }
    @include  max(575){
          order: -1;
    }
    div{
      @include max(991){
      
      }
      &:nth-child(1){
          width: 100%;
        @include min(992){
          width: 34.035%;

        }
      }
      p{
        @include max(991){
          margin-bottom: 10px;
        }
      }
    }
    p,a{
      color: #737374;
    }
    span,p,  a[href^="tel:"], a[href^="mailto:"]{
            width: 100%;
            display: flex;
    }
     a[href^="tel:"], a[href^="mailto:"]{
      &:hover{
        color: $primaryColor;
      }
     }
    span{
      color: #0A0A0A;
      align-items: center;
      line-height:  58.333% ;
      gap: 5px;

      margin-bottom: 11px;
      font-size: clamp(16px, 1.249vw, 24px);
      @include min(1900){gap: 12px;}
      @include min(1900){gap: 12px;}

      svg{
        height: auto;
        margin-top: -5px;
        width: clamp(18px, 1.249vw, 24px);
      }
    }
    

  }
     .address{
           border-bottom: 1px solid #EEE;
      padding-bottom: clamp(22px, 1.875vw, 36px);
      margin-bottom: clamp(22px, 1.875vw, 36px);
        @include max(991){
          gap: 20px;
        }
    } 
}