.productEnquiryForm {
  .modal-dialog{
    max-width: 100%;
    @include min(768){max-width: 70.8875%}
    @include min(992){max-width: 60%;}
    @include min(1200){max-width: 42.8875%;}
  }
}

.modal-content{
  border-radius: 15px;
  background: #FFF;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.11);
  padding: clamp(18px, 1.87498vw, 36px);
  @include min(992){
    border-radius: 20px;

  }
  
  .btn-close{
    position: absolute;
    right: 4%;
    top: 3%;
    border-radius: 50%;
    z-index: 1;
    width:  clamp(40px, 2.6042vw, 50px);
    height:  clamp(40px, 2.6042vw, 50px);
    @include min(576){
      top: 6%;

    }
    svg{
      height: auto;
      width:  clamp(10px, 0.72917vw, 14.014px); 

    }
    &:hover{
      background: $primaryColor;
      path{
        stroke: #fff;
      }
    }
  }
  .title {
    width: fit-content;
    color: #000;
    margin-bottom: clamp(22px, 2.3438vw, 45px);
  }
  .buttonGroup {
    gap: 12px;
    button{
      font-weight: 400;
      border-radius: 100px;
      line-height: 160%;
      padding:6px 24px;
      @include min(768){    padding: 4px 13px;}
      @include min(992){    padding: 5px 15px;}
      @include min(1200){    padding: 6px 17px;}
      @include min(1350){    padding: 7px 19px;}
      @include min(1440){    padding: 8px 21px;}
      @include min(1600){    padding: 9px 23px;}
      @include min(1900){    padding: 10px 25px;}
      &:first-child{
        background: $primaryColor;
        color: #fff;
        &:hover{
          background: #4F5762;
        }
      }
      +button{
        color: #4F5762;
      border: 1px solid #D9D9D9;
      background: #FFF;
      &:hover{
        background: #000;
        color: #fff;
      }
      }
  
    }
  }
}
.col--6,.col--12{
  position: relative;
  margin-bottom: 20px;
  @include min(768){
    margin-bottom: 26px;

  }

  label{
    display: block;
    color: #0A0A0A;
    line-height:  87.5%;
    margin-bottom: 8px;
    font-size: 14px;
    @include min(768){
      font-size: 15px;

    }
    @include min(1200){
      font-size: 16px;

    }

  }
    select{
      padding-top: 0;
      padding-bottom: 0;
    }
  select,input,textarea,input::placeholder,textarea::placeholder,input[readonly]{
    background: #FFF;
    color: #737374;
    line-height: 87.5% ;
    font-size: 14px;
    @include min(992){
      font-size: 16px;

    }
  }
  input,textarea{
    border: 1px solid #E2E2E2;
    width: 100%;  
    padding: 6px 10px;
    @include min(768){
      padding: 14px 16px;

    }
  }
  input,select{
    height: 36px;
    @include min(768){
      height: 42px;

    }
    &:focus{
      box-shadow: unset;
    }
  }
  textarea{
    height: 90px;
    @include min(576){
      height: 126px;

    }
  }
}
.col--6{
  width: 100%;
  @include min(576){  width: 49.06%;}

}

.careerForm {
    .modal-dialog{
      max-width: 940px;
    }
}

.careerForm {
      .modal-content .btn-close {
        @include min(576){
               top: 4%;
        }
    }
  input,textarea{
    border-radius: 5px;

  }
  .heading {
    font-weight: 300;
    line-height:  118.519% ;
    margin-bottom:  clamp(20px, 3.74999vw, 72px);
    font-size: clamp(22px, 2.89vw, 54px) ;

  }
  .word-count{
    text-align: right;
    color: #4B535D;
    font-weight: 200;
    margin-top: 12px;
  }
  .attachment{
    gap: 12px;
     p{
    width: fit-content;
  }
  }
  .custom-upload{
    .d-flex{
      gap: 12px;
    }
  }
  .selected-file{
    margin-left: 40px;
  }
  
  .text {
    margin-left: 12px;;
  }
  .file-info{
    justify-content: space-between;
    flex-wrap: wrap;
    color: #4B535D;
    font-weight: 200;
    font-size: 12px;
    margin-top: 0;
    display: flex;
    @include min(768){font-size: 13px;}
    @include min(992){font-size: 13.5px;}
    @include min(1200){font-size: 14px;}
    @include min(1350){font-size: 14.5px;}
    @include min(1440){font-size: 15px;}
    @include min(1600){font-size: 15.5px;}
    @include min(1900){font-size: 16px;}

  > div{
      width: 80%;
          display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0px 16px;
      p{
            line-height: normal;
        font-size: 16px;
        @include min(992){
                  font-size: 18px;

        }
      }
      .file-size{
        display: flex;
        font-size: 14px;
        @include min(992){
          font-size: 16px;
        }

      }
    }
  }
  .file-icon{
        background: #FFF;
border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 56px;
    height: 56px;
    @include min(992){
      
    width: 58px;
    height: 58px;
    }
    @include min(1200){
      
    width: 60px;
    height: 60px;
    }
    @include min(1350){
      
    width: 62px;
    height: 62px;
    }
    @include min(1440){
      
    width: 64px;
    height: 64px;
    }
    @include min(1600){
      
    width: 66px;
    height: 66px;
    }
    @include min(1900){
      
    width: 68px;
    height: 68px;
    }

    svg{
      height: auto;
      width: 18px;
      @include min(7682){width: 19px;}
      @include min(992){width: 20px;}
      @include min(1200){width: 21px;}
      @include min(1350){width: 22px;}
      @include min(1440){width: 23px;}
      @include min(1600){width: 24px;}
      @include min(1900){width: 25px;}
    }
  
  }
  .form-check-label{
    line-height:  140% ;
    font-weight: 200;
    a{
      color: #8080FB;
      font-weight: 200;
text-decoration: underline;
    }
  }
    .uploaded-files:has(.file-item) {
    margin-bottom:  clamp(15px, 1.24999vw, 24px);
  }


  .formGroup,
  .upload-area-container,
  .uploaded-files:has(.file-item) {
    margin-bottom:  clamp(15px, 1.24999vw, 24px);
  }

  .sub-btn {
    gap: 6px;
    @include min(992){
      gap: 12px;

    }
}

  small {
    font-weight: 300;
    line-height: 125%;
    color: #4B535D;
    font-size: clamp(12px, 0.834vw, 16px);
  }

  .title {
    line-height: 100%;
    padding-top: 15px;
    font-size: clamp(20px, 1.46vw, 28px);
    font-weight: 500;
    margin-bottom: clamp(20px, 2.11vw, 42px);
  }

  /* ================= FILE ITEM ================= */
  .file-item {
    position: relative;

border-radius: 10px;
background: #F5F5F5;
    padding: 12px;
    width: 100%;
    @include min(768){
          width: 48.695%;
    }
    .remove-file {
      position: absolute;
      right: 12px;
      top: 12px;
      background: unset;
    }
  }
    .progress {
      width: 100%;
    height: 6px;

    i {
      display: block;
      width: 0;
      height: 100%;
      background: $primaryColor;
      box-shadow: 0 0 6px rgba(255, 166, 0, 0.6);
      transition: width 0.3s ease;
    }
  }

}