.productEnquiryForm {
  .modal-dialog{
    max-width: 4100%;
    @include min(768){max-width: 70.8875%}
    @include min(992){max-width: 60%;}
    @include min(1200){max-width: 42.8875%;}
  }
}

.modal-content{
  border-radius: 15px;
  background: #FFF;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.11);
  padding: clamp(18px, 1.87498vw, 36px);
  @include min(992){
    border-radius: 20px;

  }
  
  .btn-close{
    position: absolute;
    right: 4%;
    top: 3%;
    border-radius: 50%;
    z-index: 1;
    width:  clamp(40px, 2.6042vw, 50px);
    height:  clamp(40px, 2.6042vw, 50px);
    @include min(576){
      top: 6%;

    }
    svg{
      height: auto;
      width:  clamp(10px, 0.72917vw, 14.014px); 

    }
    &:hover{
      background: $primaryColor;
      path{
        stroke: #fff;
      }
    }
  }
  .title {
    width: fit-content;
    color: #000;
    margin-bottom: clamp(22px, 2.3438vw, 45px);
  }
  .buttonGroup {
    gap: 12px;
    button{
      font-weight: 400;
      border-radius: 100px;
      line-height: 160%;
      padding:6px 24px;
      @include min(768){    padding: 4px 13px;}
      @include min(992){    padding: 5px 15px;}
      @include min(1200){    padding: 6px 17px;}
      @include min(1350){    padding: 7px 19px;}
      @include min(1440){    padding: 8px 21px;}
      @include min(1600){    padding: 9px 23px;}
      @include min(1900){    padding: 10px 25px;}
      &:first-child{
        background: $primaryColor;
        color: #fff;
        &:hover{
          background: #4F5762;
        }
      }
      +button{
        color: #4F5762;
      border: 1px solid #D9D9D9;
      background: #FFF;
      &:hover{
        background: #000;
        color: #fff;
      }
      }
  
    }
  }
}
.col--6,.col--12{
  position: relative;
  margin-bottom: 20px;
  @include min(768){
    margin-bottom: 26px;

  }

  label{
    display: block;
    color: #0A0A0A;
    line-height:  87.5%;
    margin-bottom: 8px;
    font-size: 14px;
    @include min(768){
      font-size: 15px;

    }
    @include min(1200){
      font-size: 16px;

    }

  }
  input,textarea,input::placeholder,textarea::placeholder,input[readonly]{
    background: #FFF;
    color: #737374;
    line-height: 87.5% ;
    font-size: 14px;
    @include min(992){
      font-size: 16px;

    }
  }
  input,textarea{
    border: 1px solid #E2E2E2;
    width: 100%;  
    padding: 6px 10px;
    @include min(768){
      padding: 14px 16px;

    }
  }
  input{
    height: 36px;
    @include min(768){
      height: 42px;

    }
  }
  textarea{
    height: 90px;
    @include min(576){
      height: 126px;

    }
  }
}
.col--6{
  width: 100%;
  @include min(576){  width: 49.06%;}

}
