.product-listing{
    &::before{
        content: none;
    }
    .product-row {
        column-gap:  2%;
        row-gap:  clamp(26px, 2.669vw, 52px);
    }
    .product-card{
      width: 100%;
      @include min(576){width: 49%;}
      @include min(992){width: 32%;}
      &:nth-child(5){
        width:100%;
        // @include min(768){width:100%;}
        @include min(992){width:66%;}
      }
      h3{
        color: #000;
        line-height:  100%;
        margin-bottom: 12px;
      }
      .logo{
            display: flex;
            padding-bottom: clamp(9px, 1.666642vw, 19px);
            margin-bottom:  clamp(10px, 1.042vw, 20px);
            border-bottom: 1px solid #EEE;
            position: relative;
           &::before{
            @extend .position;
            width: 0;
            height: 1px;
            left: 0;
            bottom: 0;
            background: $primaryColor;
            transition: 0.3s ease all;
           }
        img{
            height: auto;
            width:clamp(60px, 6.7vw, 120px);
            filter: saturate(0);
            opacity: 0.5;
            transition: 0.5s ease all;
           }
    }
     &:hover{
            img{
                opacity: 1;
                filter: saturate(1);
            transition: 0.5s ease all;

            }
            .logo{
      
                  &::before{
                    width: 100%;
            transition: 0.5s ease all;

                  }
            }
        }
      > picture{
        img{
            width: 100%;
            height: clamp(244px, 25.42vw, 488px);
            object-fit: cover;
        }
      }
      >div{
        position: relative;
        z-index: 1;
        background: #fff;
        border: 1px solid #EEE;

        width: 91%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -66px;
        padding: 17px;
        @include min(576){
          padding: clamp(12px, 1.24998vw, 24px);

        }
        }
    }

     .enquire{
        transition: 0.5s ease all;
      background: unset;
      display: flex;
      align-items: center;
      color: #fff;
      border-radius: 100px;
      border: 1px solid #D9D9D9;
      padding: 2px 10px;
      gap:5px;
      @include min(576){padding: 1px 6px;       gap:3px;}
      @include min(768){padding: 4px 11px;      gap:6px;}
      @include min(992){padding: 2.5px 15px;      gap: 5px;}
      @include min(1200){padding: 3px 16px;      gap: 6px;}
      @include min(1350){padding: 3.5px 17px;      gap: 7px;}
      @include min(1440){padding: 4px 18px;      gap: 8px;}
      @include min(1600){padding: 4.5px 19px;       gap: 9px;}
      @include min(1900){padding: 5px 20px;       gap: 10px;}
            span{
        color: #4F5762;


            padding-top: 3px;
        display: block;
        line-height: 177.778%;
        font-size: clamp(13px, 0.94vw, 18px);

      }
      svg{
        margin-top: 2px;

        transition: 0.5s ease all;
      }
      &:hover{
        transition: 0.5s ease all;
      background: $primaryColor;
        span{
          color: #fff;
        }
        svg{
                  transform: rotate(45deg);
                  path{
                    fill: #fff;
                  }
        }
      }

     }

}


// Details
