.product-listing{
    &::before{
        content: none;
    }
    .product-row {
        column-gap:  2%;
        row-gap:  clamp(26px, 2.669vw, 52px);
    }
    .product-card{
      width: 100%;
      @include min(576){width: 49%;}
      @include min(992){width: 32%;}
      &:nth-child(5){
        width:100%;
        // @include min(768){width:100%;}
        @include min(992){width:66%;}
      }
      h3{
        color: #000;
        line-height:  100%;
        margin-bottom: 12px;
      }
      .logo{
            display: flex;
            padding-bottom: clamp(9px, 1.666642vw, 19px);
            margin-bottom:  clamp(10px, 1.042vw, 20px);
            border-bottom: 1px solid #EEE;
            position: relative;
           &::before{
            @extend .position;
            width: 0;
            height: 1px;
            left: 0;
            bottom: 0;
            background: $primaryColor;
            transition: 0.3s ease all;
           }
        img{
            height: auto;
            width:clamp(60px, 6.7vw, 120px);
            filter: saturate(0);
            opacity: 0.5;
            transition: 0.5s ease all;
           }
    }
     &:hover{
            img{
                opacity: 1;
                filter: saturate(1);
            transition: 0.5s ease all;

            }
            .logo{
      
                  &::before{
                    width: 100%;
            transition: 0.5s ease all;

                  }
            }
        }
      > picture{
        img{
            width: 100%;
            height: clamp(244px, 25.42vw, 488px);
            object-fit: cover;
        }
      }
      >div{
        position: relative;
        z-index: 1;
        background: #fff;
        border: 1px solid #EEE;

        width: 91%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -66px;
        padding: clamp(17px, 1.24998vw, 24px);
        }
    }

}


// Details


.product-image-box{
    width: 48.836%;
    img{
        width: 100%;
        object-fit: cover;
   
    }
}
.product-image-slider{
    width: 79.592%;
    img{
        height:  clamp(321px, 33.386vw, 641px);
    }

}
.product-image-nav{
    width: 18.283%;
    picture{
        position: relative;
        &::after{
            @extend .position;
                transition: 0.5s ease all;

            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.71);
            left: 0;
            top: 0;
        }
        &:hover{
            &::after{
               background: rgba(239, 65, 54, 0.58);
            }
        }
        &.slick-current.slick-active{
            &::after{
                height: 0;
                transition: 0.8s ease all;
            }
        }

    }
    .slick-list{
        margin: -3px 0px;
    }
    .slick-slide{
        cursor: pointer;

        margin: 3px 0px;
    }
    img{
        height:  clamp(75px, 7.219vw, 154px);
    }

}
.product-short-content{
    width: 48.096%;
    h1{
        color: #000;
        line-height: 100%;
        margin-bottom: 36px;
    }
}
.product-detail{
    .product-button{
        margin-top: 60px;
        gap: 12px;
        a,button{
            display: flex;
            align-items: center;
            border-radius: 100px;
            background: #F1F1F1;
            gap: 10px;
            padding: 10px 25px;
            span{
                transform: translateY(2px);
            }
        }
        .enquire{
            background-color: $primaryColor;
            color: #fff;
            &:hover{
                background-color: #000;
            }
        }
        .whatsapp{
            color: #49AE45;
            border: 1px solid #49AE45;
            background: #FFF;
              &:hover{
                background-color: #49AE45;
                   color: #fff;
                   path{
                    fill: #fff;
                   }
            }
        }
        .download{
            color: #000;
            background: #F1F1F1;
            &:hover{
                background-color: #393939;
                color: #fff;
            }
        }
    }
}