.product-listing {}

.product-item {
    .product-details {
        div {
            margin-bottom: 0;
            margin-top: auto;
        }
       

        .product-stock-info {
            margin-bottom: 21px;
        }
        .btn-wrap {
            gap: 5px;
           

        }
    }
}

.product-details{
            .product-id {font-weight: 200;}

     span {
        line-height: 125% ;
            color: #4B535D;
            width: fit-content;
            border-radius: 80px;
            background: rgba(255, 213, 43, 0.28);
            display: block;
            margin-bottom: 12px;
            padding: 3px 6px;
            @include min(768){padding: 3.5px 7px;}
            @include min(992){padding: 4px 8px;}
            @include min(1200){padding: 5px 10px;}

        }
        .stock,
        span,
        .product-id,
        a {
            font-size: clamp(11px, 0.89vw, 16px);
            line-height: 125%;
          
        }

        .stock {
            color: #DE4D50;
            font-weight: 600;

        }
         .btn-whatsapp {
                color: #49AE45;
                border: 1px solid #49AE45;
                background: #FFF;
                &:hover {
                    background: #49AE45;
                    color: #FFF;

                    &::before {
                        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M19.0508 4.91005C18.1338 3.98416 17.0418 3.25002 15.8383 2.75042C14.6348 2.25081 13.3439 1.99574 12.0408 2.00005C6.58078 2.00005 2.13078 6.45005 2.13078 11.9101C2.13078 13.6601 2.59078 15.3601 3.45078 16.8601L2.05078 22.0001L7.30078 20.6201C8.75078 21.4101 10.3808 21.8301 12.0408 21.8301C17.5008 21.8301 21.9508 17.3801 21.9508 11.9201C21.9508 9.27005 20.9208 6.78005 19.0508 4.91005ZM12.0408 20.1501C10.5608 20.1501 9.11078 19.7501 7.84078 19.0001L7.54078 18.8201L4.42078 19.6401L5.25078 16.6001L5.05078 16.2901C4.22833 14.9771 3.79171 13.4593 3.79078 11.9101C3.79078 7.37005 7.49078 3.67005 12.0308 3.67005C14.2308 3.67005 16.3008 4.53005 17.8508 6.09005C18.6184 6.85392 19.2267 7.7626 19.6404 8.76338C20.0541 9.76417 20.265 10.8371 20.2608 11.9201C20.2808 16.4601 16.5808 20.1501 12.0408 20.1501ZM16.5608 13.9901C16.3108 13.8701 15.0908 13.2701 14.8708 13.1801C14.6408 13.1001 14.4808 13.0601 14.3108 13.3001C14.1408 13.5501 13.6708 14.1101 13.5308 14.2701C13.3908 14.4401 13.2408 14.4601 12.9908 14.3301C12.7408 14.2101 11.9408 13.9401 11.0008 13.1001C10.2608 12.4401 9.77078 11.6301 9.62078 11.3801C9.48078 11.1301 9.60078 11.0001 9.73078 10.8701C9.84078 10.7601 9.98078 10.5801 10.1008 10.4401C10.2208 10.3001 10.2708 10.1901 10.3508 10.0301C10.4308 9.86005 10.3908 9.72005 10.3308 9.60005C10.2708 9.48005 9.77078 8.26005 9.57078 7.76005C9.37078 7.28005 9.16078 7.34005 9.01078 7.33005H8.53078C8.36078 7.33005 8.10078 7.39005 7.87078 7.64005C7.65078 7.89005 7.01078 8.49005 7.01078 9.71005C7.01078 10.9301 7.90078 12.1101 8.02078 12.2701C8.14078 12.4401 9.77078 14.9401 12.2508 16.0101C12.8408 16.2701 13.3008 16.4201 13.6608 16.5301C14.2508 16.7201 14.7908 16.6901 15.2208 16.6301C15.7008 16.5601 16.6908 16.0301 16.8908 15.4501C17.1008 14.8701 17.1008 14.3801 17.0308 14.2701C16.9608 14.1601 16.8108 14.1101 16.5608 13.9901Z" fill="%23fff"/></svg>');
                        background-repeat: no-repeat;
                        background-position: left center;
                    }
                }

                &::before {
                    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M19.0508 4.91005C18.1338 3.98416 17.0418 3.25002 15.8383 2.75042C14.6348 2.25081 13.3439 1.99574 12.0408 2.00005C6.58078 2.00005 2.13078 6.45005 2.13078 11.9101C2.13078 13.6601 2.59078 15.3601 3.45078 16.8601L2.05078 22.0001L7.30078 20.6201C8.75078 21.4101 10.3808 21.8301 12.0408 21.8301C17.5008 21.8301 21.9508 17.3801 21.9508 11.9201C21.9508 9.27005 20.9208 6.78005 19.0508 4.91005ZM12.0408 20.1501C10.5608 20.1501 9.11078 19.7501 7.84078 19.0001L7.54078 18.8201L4.42078 19.6401L5.25078 16.6001L5.05078 16.2901C4.22833 14.9771 3.79171 13.4593 3.79078 11.9101C3.79078 7.37005 7.49078 3.67005 12.0308 3.67005C14.2308 3.67005 16.3008 4.53005 17.8508 6.09005C18.6184 6.85392 19.2267 7.7626 19.6404 8.76338C20.0541 9.76417 20.265 10.8371 20.2608 11.9201C20.2808 16.4601 16.5808 20.1501 12.0408 20.1501ZM16.5608 13.9901C16.3108 13.8701 15.0908 13.2701 14.8708 13.1801C14.6408 13.1001 14.4808 13.0601 14.3108 13.3001C14.1408 13.5501 13.6708 14.1101 13.5308 14.2701C13.3908 14.4401 13.2408 14.4601 12.9908 14.3301C12.7408 14.2101 11.9408 13.9401 11.0008 13.1001C10.2608 12.4401 9.77078 11.6301 9.62078 11.3801C9.48078 11.1301 9.60078 11.0001 9.73078 10.8701C9.84078 10.7601 9.98078 10.5801 10.1008 10.4401C10.2208 10.3001 10.2708 10.1901 10.3508 10.0301C10.4308 9.86005 10.3908 9.72005 10.3308 9.60005C10.2708 9.48005 9.77078 8.26005 9.57078 7.76005C9.37078 7.28005 9.16078 7.34005 9.01078 7.33005H8.53078C8.36078 7.33005 8.10078 7.39005 7.87078 7.64005C7.65078 7.89005 7.01078 8.49005 7.01078 9.71005C7.01078 10.9301 7.90078 12.1101 8.02078 12.2701C8.14078 12.4401 9.77078 14.9401 12.2508 16.0101C12.8408 16.2701 13.3008 16.4201 13.6608 16.5301C14.2508 16.7201 14.7908 16.6901 15.2208 16.6301C15.7008 16.5601 16.6908 16.0301 16.8908 15.4501C17.1008 14.8701 17.1008 14.3801 17.0308 14.2701C16.9608 14.1601 16.8108 14.1101 16.5608 13.9901Z" fill="%2349AE45"/></svg>');
                    background-repeat: no-repeat;
                    background-position: left center;
                }
            }

            .btn-call {
                color: #0A1119;
                background: $primaryColor;
                &:hover {
                    background: #0A1119;
                    color: #FFF;

                    &::before {
                        filter: invert(1);
                    }
                }

                &::before {
                    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.73303 2.0433C6.95003 0.833297 8.95403 1.0483 9.97303 2.4103L11.235 4.0943C12.065 5.2023 11.991 6.7503 11.006 7.7293L10.768 7.9673C10.741 8.06721 10.7383 8.17211 10.76 8.2733C10.823 8.6813 11.164 9.5453 12.592 10.9653C14.02 12.3853 14.89 12.7253 15.304 12.7893C15.4083 12.8103 15.5161 12.8072 15.619 12.7803L16.027 12.3743C16.903 11.5043 18.247 11.3413 19.331 11.9303L21.241 12.9703C22.878 13.8583 23.291 16.0823 21.951 17.4153L20.53 18.8273C20.082 19.2723 19.48 19.6433 18.746 19.7123C16.936 19.8813 12.719 19.6653 8.28603 15.2583C4.14903 11.1443 3.35503 7.5563 3.25403 5.7883C3.20403 4.8943 3.62603 4.1383 4.16403 3.6043L5.73303 2.0433ZM8.77303 3.3093C8.26603 2.6323 7.32203 2.5783 6.79003 3.1073L5.22003 4.6673C4.89003 4.9953 4.73203 5.3573 4.75203 5.7033C4.83203 7.1083 5.47203 10.3453 9.34403 14.1953C13.406 18.2333 17.157 18.3543 18.607 18.2183C18.903 18.1913 19.197 18.0373 19.472 17.7643L20.892 16.3513C21.47 15.7773 21.343 14.7313 20.525 14.2873L18.615 13.2483C18.087 12.9623 17.469 13.0563 17.085 13.4383L16.63 13.8913L16.1 13.3593C16.63 13.8913 16.629 13.8923 16.628 13.8923L16.627 13.8943L16.624 13.8973L16.617 13.9033L16.602 13.9173C16.5598 13.9565 16.5143 13.9919 16.466 14.0233C16.386 14.0763 16.28 14.1353 16.147 14.1843C15.877 14.2853 15.519 14.3393 15.077 14.2713C14.21 14.1383 13.061 13.5473 11.534 12.0293C10.008 10.5113 9.41203 9.3693 9.27803 8.5033C9.20903 8.0613 9.26403 7.7033 9.36603 7.4333C9.42216 7.28137 9.50254 7.13953 9.60403 7.0133L9.63603 6.9783L9.65003 6.9633L9.65603 6.9573L9.65903 6.9543L9.66103 6.9523L9.94903 6.6663C10.377 6.2393 10.437 5.5323 10.034 4.9933L8.77303 3.3093Z" fill="black"/></svg>');
                    background-repeat: no-repeat;
                    background-position: left center;
                }

            }
            .download-brochure{
                color: #0A1119;
                background: #F6F4F4;
                &::before{
                    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="17" height="20" viewBox="0 0 17 20" fill="none"><path d="M4.25 19.25H12.666C13.5943 19.25 14.4845 18.8813 15.1409 18.2249C15.7973 17.5685 16.166 16.6783 16.166 15.75V10.22C16.1663 9.29186 15.798 8.40159 15.142 7.745L9.173 1.775C8.84797 1.45 8.46211 1.19221 8.03745 1.01634C7.61278 0.840469 7.15764 0.749967 6.698 0.75H4.25C3.32174 0.75 2.4315 1.11875 1.77513 1.77513C1.11875 2.4315 0.75 3.32174 0.75 4.25V15.75C0.75 16.6783 1.11875 17.5685 1.77513 18.2249C2.4315 18.8813 3.32174 19.25 4.25 19.25Z" stroke="%230A1119" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path fill-rule="evenodd" clip-rule="evenodd" d="M6.89479 5.14095C6.65579 5.21895 6.50279 5.37695 6.45879 5.55195C6.36879 5.90395 6.45879 6.28195 6.71179 6.75495C6.83779 6.98895 6.99179 7.22595 7.16179 7.47995L7.25379 7.61695L7.39879 7.83195L7.41779 7.76395L7.50379 7.45795C7.60246 7.12262 7.67913 6.78262 7.73379 6.43795C7.82279 5.79595 7.72279 5.41995 7.42479 5.17795C7.34479 5.11295 7.14679 5.05895 6.89479 5.14095ZM6.94979 9.29295L6.67979 8.93095L6.64779 8.88295C6.53279 8.69295 6.40479 8.50295 6.26579 8.29795L6.16579 8.14895C5.98179 7.88143 5.81092 7.6051 5.65379 7.32095C5.34379 6.74295 5.09579 6.03495 5.29579 5.25395C5.46579 4.58995 5.99379 4.17295 6.52279 3.99995C7.03979 3.83195 7.69679 3.85295 8.18279 4.24695C8.97479 4.89095 9.03079 5.81995 8.92179 6.60395C8.86107 7.00067 8.77387 7.39288 8.66079 7.77795L8.56479 8.11795C8.49013 8.37262 8.42079 8.62895 8.35679 8.88695L8.28979 9.08095L9.68179 10.945C10.3318 10.867 11.0458 10.82 11.7118 10.868C12.4808 10.922 13.3068 11.11 13.8698 11.644C14.0509 11.8319 14.182 12.0623 14.251 12.3141C14.32 12.5658 14.3248 12.8309 14.2648 13.085C14.1478 13.565 13.8108 13.965 13.3458 14.208C12.3608 14.723 11.4438 14.313 10.7628 13.792C10.2298 13.385 9.71779 12.817 9.28679 12.339L9.18279 12.225C8.81279 12.282 8.46279 12.346 8.17879 12.4C7.87379 12.457 7.49479 12.528 7.08279 12.62L6.93179 13.063C6.84846 13.255 6.76913 13.4483 6.69379 13.643L6.57179 13.946C6.44868 14.2579 6.30606 14.5619 6.14479 14.856C5.81479 15.434 5.28779 16.048 4.40379 16.097C3.21979 16.163 2.41779 15.112 2.64779 13.989L2.65379 13.962C2.85379 13.171 3.54779 12.652 4.21879 12.309C4.81579 12.003 5.51279 11.777 6.15979 11.608L6.94979 9.29295ZM7.81979 10.458L7.53279 11.301L7.95379 11.221L7.95779 11.22L8.33779 11.15L7.81979 10.458ZM10.6598 12.062C10.9338 12.352 11.2068 12.622 11.4908 12.839C12.0408 13.259 12.4308 13.332 12.7898 13.144C12.9898 13.039 13.0738 12.903 13.0988 12.802C13.1109 12.7478 13.11 12.6915 13.0961 12.6378C13.0822 12.5841 13.0557 12.5344 13.0188 12.493C12.7618 12.265 12.2968 12.113 11.6268 12.065C11.3048 12.0445 10.9819 12.0435 10.6598 12.062ZM5.65479 13.009C5.33679 13.118 5.03479 13.239 4.76479 13.377C4.17779 13.677 3.89479 13.981 3.82079 14.244C3.74279 14.659 4.01279 14.917 4.33679 14.899C4.60679 14.884 4.84279 14.715 5.10279 14.26C5.23879 14.012 5.35813 13.7563 5.46079 13.493L5.56779 13.227L5.65479 13.009Z" fill="%230A1119"/></svg>');
                      background-repeat: no-repeat;
                    background-position: left center;
                }
            }
                a,button {
                    overflow: hidden;
                position: relative;
                display: flex;
                align-items: center;
                border-radius: 80px;
               padding-top:9px;
               padding-bottom: 9px;
                        padding-right: 14px;
                        padding-left: 38px;

                @include min(768){
                         padding-top: 9px;
        padding-bottom: 9px;
                        padding-right: 14px;
                        padding-left: 33px;
                }
                @include min(992){
                        padding-top: 8px;
                        padding-bottom: 8px;
                        padding-right: 16px;
                        padding-left: 35px;
                }
                @include min(1200){
                        padding-top: 9px;
                        padding-bottom: 9px;
                           padding-right: 10px;
        padding-left: 35px;

                }
                @include min(1350){
                        padding-top: 9.5px;
                        padding-bottom: 9.5px;
                              padding-right: 15px;
        padding-left: 40px;
                }
                @include min(1440){
                        padding-top: 10px;
                        padding-bottom: 10px;
                            padding-right: 15px;
        padding-left: 45px;
                }
                @include min(1600){
                        padding-top: 10.5px;
                        padding-bottom: 10.5px;
                         padding-right: 15px;
        padding-left: 55px;
                }
                @include min(1900){
                        padding-top: 11px;
                        padding-bottom: 11px;
                        padding-right: 21px;
                        padding-left: 55px;
                }

                &::before {
                    @extend .position;
                    width: 24px;
                    height: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                        left: 9%;
                    background-size: 17px!important;
                    @include min(576){
                        left: 8%;
                    }
                    @include min(768){
                    
                        background-size: 17px!important;

                    }
                    @include min(992){
                        left: 8%;
                        background-size: 18px!important;
                    }
                    @include min(1024){
                        background-size: 17px!important;
                        left: 8%;
                    }
                    @include min(1200){
                        background-size: 18px!important;
                        left: 9%;
                    }
                    @include min(1350){
                        background-size: 19px!important;
                        left: 8%;
                    }
                    @include min(1440){
                        background-size: 21px!important;
                        left: 8%;
                    }
                    @include min(1600){
                        background-size: 22px!important;
                        left: 11%;
                    }
                    @include min(1900){
                        background-size: 24px!important;
                        left: 11%;
                    }
                }
            }

           
}
.product-listing{
           a,button {
                    overflow: hidden;
                position: relative;
                display: flex;
                align-items: center;
                border-radius: 80px;
               padding-top: 7px;
               padding-bottom: 7px;
                        padding-right: 14px;
                        padding-left: 30px;
                          @include max(1199){
                width: 100%;
                justify-content: center;
            }
                @include min(768){
                         padding-top: 9px;
        padding-bottom: 9px;
                        padding-right: 14px;
                        padding-left: 35px;
                }
                @include min(992){
                        padding-top: 8px;
                        padding-bottom: 8px;
                        padding-right: 16px;
                        padding-left: 40px;
                }
                @include min(1200){
                        padding-top: 9px;
                        padding-bottom: 9px;
                           padding-right: 10px;
        padding-left: 26px;

                }
                @include min(1350){
                        padding-top: 9.5px;
                        padding-bottom: 9.5px;
                              padding-right: 15px;
        padding-left: 35px;
                }
                @include min(1440){
                        padding-top: 10px;
                        padding-bottom: 10px;
                            padding-right: 15px;
        padding-left: 35px;
                }
                @include min(1600){
                        padding-top: 10.5px;
                        padding-bottom: 10.5px;
                         padding-right: 15px;
        padding-left: 47px;
                }
                @include min(1900){
                        padding-top: 11px;
                        padding-bottom: 11px;
                        padding-right: 21px;
                        padding-left: 55px;
                }

                &::before {
                    @extend .position;
                    width: 24px;
                    height: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                        left: 23px;
                    background-size: 17px!important;
                    @include min(576){
                        left: 29%;
                    }
                    @include min(768){
                        left:22%;
                        background-size: 21px!important;

                    }
                    @include min(992){
                        left: 22%;
                        background-size: 22px!important;
                    }
                    @include min(1025){
                        background-size: 23px!important;
                        left: 24%;
                    }
                    @include min(1200){
                        background-size: 20px!important;
                        left: 4%;
                    }
                    @include min(1350){
                        background-size: 22px!important;
                        left: 8%;
                    }
                    @include min(1440){
                        background-size: 23px!important;
                        left: 8%;
                    }
                    @include min(1600){
                        background-size: 24px!important;
                        left: 11%;
                    }
                }
            }
}