

.product-image-box{
    height: fit-content;
    width: 100%;
    @include min(992){
        position: sticky;
        top: 100px;
        width: 48.836%;

    }
    img{
        width: 100%;
        object-fit: cover;
   
    }
}
.product-image-slider{
               width: 100%;

    &-init{
           width: 100%;
    @include min(992){
        width: 79.592%;

    }
    }
    img{
        height: 232px;
        @include min(576){
                height:  clamp(561px, 33.386vw, 641px);
        }
        @include min(992){
            height:  clamp(442px, 33.386vw, 641px);

        }
        @include min(1200){
            height:  clamp(505px, 33.386vw, 641px);

        }
        @include min(1440){
            height:  clamp(527px, 33.386vw, 641px);

        }
        @include min(1600){
            height:  clamp(561px, 33.386vw, 641px);

        }
    }

}
.product-image-nav{
    width: 100%;
    @include max(991){
        margin-top: 5px;
    }
    @include min(992){
        width: 18.283%;

    }
    picture{
        position: relative;
        &::after{
            @extend .position;
                transition: 0.5s ease all;

            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.71);
            left: 0;
            top: 0;
        }
        &:hover{
            &::after{
               background: rgba(239, 65, 54, 0.58);
            }
        }
        &.slick-current.slick-active{
            &::after{
                height: 0;
                transition: 0.8s ease all;
            }
        }

    }
    .slick-list{
         margin: 0px -4px;
        @include min(992){margin: -3.2px 0px;}
        @include min(1600){margin: -3.5px 0px;}
        @include min(1900){margin:-4.5px 0px;}
    }
    .slick-slide{
        cursor: pointer;

        margin: 0px 4px;
        @include min(992){margin: 3.2px 0px;}
        @include min(1600){margin: 3.5px 0px;}
        @include min(1900){margin: 4.5px 0px;}
    }
    img{
    height: 81px;
        @include min(768){
              height: 120px;
        }
        @include min(992){
            height:clamp(102px, 7.92vw, 152px);
        }
        @include min(1200){
            height:clamp(119px, 7.92vw, 152px);
        }
        @include min(1440){
            height: clamp(125px, 7.92vw, 152px);
        }
        @include min(1600){
            height: clamp(133px, 7.92vw, 152px);
        }
    }

}
.product-short-content{
    width: 100%;
    &-non-category{
        @include max(991){
            margin-top: 30px;
        }
        @include min(992){
                width: 49.7%;
        }
        @include min(1200){
                width: 48.096%;
    
        }

    }
    h1{
     font-size: 25px;
     margin-bottom: 10px;
     @include min(576){font-size: 30px; margin-bottom: 18px;}
     @include min(768){font-size: 33px; margin-bottom: 20px;}
     @include min(992){font-size: 35px; margin-bottom: 22px;}
     @include min(1200){font-size: 40px; margin-bottom: 24px;}
     @include min(1280){font-size: 45px; margin-bottom: 28px;}
     @include min(1350){font-size: 50px; margin-bottom: 30px;}
     @include min(1440){font-size: 55px; margin-bottom: 32px;}
     @include min(1600){font-size: 60px; margin-bottom: 34px;}
     @include min(1900){font-size: 64px; margin-bottom: 36px;}
        color: #000;
        line-height: 100%;

    }
}

.product-detail{

}
    .product-button{
        gap: 10px ;
        margin-top: 15px;
        @include max(575){
                justify-content: center;

        }
        @include min(576){margin-top: 20px; gap: 12px }
        @include min(992){margin-top: 15px; gap: 6px }
        @include min(1200){margin-top: 20px; gap: 9px }
        @include min(1440){margin-top: 25px; gap: 9px }
        @include min(1600){margin-top: 30px; gap: 11px }
        @include min(1900){margin-top: 60px;    gap: 12px ;}
        a,button{
            display: flex;
            align-items: center;
            border-radius: 100px;
     
            gap: 8px;
            padding:8px 15px;
            @include min(768){
                gap: clamp(3px, 0.569vw, 12px);
                       padding: 10px 30px;
                       gap: 10px;
            }
            @include min(992){
                       padding: 7px 14px;
                                   gap: clamp(3px, 0.569vw, 12px);
            }
            @include min(1200){
                       padding: 8px 16px;
            }
            @include min(1440){
                       padding: 8px 18px;
            }
            @include min(1600){
                       padding: 9px 22px;
            }
            @include min(1900){
                       padding: 10px 25px;
            }
            span{
                transform: translateY(2px);
                @include max(575){
         
    line-height: normal;
                }
            }
            svg{
                height: auto;
                width: 17px;
                @include max(575){
                        margin-top: 1px;

                }
                @include min(768){width: 20px;}
                @include min(992){width: 16px;}
                @include min(1200){width: 19px;}
                @include min(1440){width: 20px;}
                @include min(1600){width: 22px;}
                @include min(1900){width: 24px;}
            }
        }
        .enquire{
            background-color: $primaryColor;
            color: #fff;
            &:hover{
                background-color: #000;
            }
        }
        .whatsapp{
            color: #49AE45;
            border: 1px solid #49AE45;
            background: #FFF;
              &:hover{
                background-color: #49AE45;
                   color: #fff;
                   path{
                    fill: #fff;
                   }
            }
        }
        .download{
            color: #000;
            background: #F1F1F1;
            &:hover{
                background-color: #393939;
                color: #fff;
            }
        }
    }
.product-long-description{
    margin-top: clamp(38px, 3.9584vw, 76px);
  
}
.product-long-description,.other-products,.product-short-content{
    h2{
        @extend h3;
        margin-bottom: 0;
        line-height: 100%;
        color: #000;
        font-weight: 700!important;
    }
}
.other-products-slider{
overflow:hidden;
    .slick-list{
        margin: 0px -5.5px;
        @include min(576){ margin: 0px -10.5px;}
        @include min(768){ margin: 0px -12.5px;}
        @include min(992){ margin: 0px -14.5px;}
        @include min(1200){ margin: 0px -15.5px;}
        @include min(1350){ margin: 0px -16.5px;}
        @include min(1440){ margin: 0px -18.5px;}
        @include min(1600){ margin: 0px -19.5px;}
        @include min(1900){ margin: 0px -20.5px;}
    }
    .slick-slide{
        margin: 0px 5.5px;
        @include min(576){ margin: 0px 10.5px;}
        @include min(768){ margin: 0px 12.5px;}
        @include min(992){ margin: 0px 14.5px;}
        @include min(1200){ margin: 0px 15.5px;}
        @include min(1350){ margin: 0px 16.5px;}
        @include min(1440){ margin: 0px 18.5px;}
        @include min(1600){ margin: 0px 19.5px;}
        @include min(1900){ margin: 0px 20.5px;}
    }
}
.other-products-dots{
    margin-top: 36px;
    ul{
        justify-content: center;
    }
     button {
    background-color: #C6C6C6;
}
}




.product-category{
    .product-image-box{
        width: 100%;
        @include max(991){
            margin-bottom: 20px;
        }
        @include min(992){
        width:45.8699%;

    }
        @include min(1200){
        width: 38.8699%;

    }
    }
    .product-short-content{
        width: 100%;
        
      @include min(992){
         width: 52.203%;

    }
      @include min(1200){
         width: 57.203%;

    }
    }
    .product-button{
            margin-bottom: clamp(38px, 3.9584vw, 76px);

    }
}