.services-listing{
    padding-bottom:  clamp(46px, 4.7917vw, 92px);
    .services-box{
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 20px;
        background: #F1F1F1;
        padding:  clamp(21px, 2.1875vw, 42px) ;
        @include min(768){
            width: 32.262%;
        }
    
        h3{
            color: #000;
            line-height: 100%;
            margin-bottom: clamp(6px, 0.7292vw, 14px);
            @include min(768){}
        }
        div{

            border-radius: 20px;
            background: #FFF;
            margin-top: clamp(11px, 1.1459vw, 22px);
            margin-bottom: clamp(11px, 1.1459vw, 22px);
            padding: clamp(13px, 1.355vw, 26px);

        }
        img{
            border-radius: 20px;

            width: 100%;
            object-fit: cover;
                height: 190px;

            @include min(768){
                height:clamp(200px, 14.95vw, 287px);
            }
        }
        a{
                 @include max(575){
                margin-left: 5px;
              }
                &::after{
                    background-color: #fff;
                    border-radius: 50%;
                }
        }
        &:hover{
            background: #FFF8F7;
            a{
              color: $primaryColor;
         
                &::after{
                  
                  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none"><circle cx="15" cy="15" r="6.5" fill="%23EF4136" stroke="%23EF4136" stroke-dasharray="2 2"/><circle cx="15" cy="15" r="14.5" stroke="%23EF4136" stroke-dasharray="2 2"/></svg>');
                              background-size: cover;
                background-repeat: no-repeat;
                background-position: center right;
                  transition: 0.5s ease all;
                        transform: translateY(-50%) rotate(180deg);
                }
            }

        }
    }
    .servicesRow {
        gap: 20px 1.6%;
    }
}




.cta{
    .container-ctn{
         border-radius:15px;
        background: rgba(239, 65, 54, 0.13);
        padding: clamp(21px, 2.23956vw, 43px);
        @include min(992){
                     border-radius: 20px;
        }
    }
    picture{
        width: 100%;
        @include min(768){
            width: 52.1277%;
        }
        @include min(992){
               width:59.1277%;
        }
        @include min(1200){
               width: 63.1277%;
        }
        @include min(1350){
                    width: 67.1277%;

        }
        img{
            width: 100%;
            object-fit: cover;
            border-radius: 15px;
            height:  192px;
            max-height: 100%;
            @include min(768){height: 203px;           border-radius: 20px;}
            @include min(992){height:  212px;}
            @include min(1200){height:  221px;}
            @include min(1350){height:  235px;}
            @include min(1440){height:  277px;}
            @include min(1600){height:  281px;}
            @include min(1900){height:  302px;}

        }

    }
    &-contact{
        border-radius:15px;
        background: #FFF;
        
        width: 100%;


        padding: 15px;
        @include max(767){
            margin-top: 15px;
        }
        @include min(576){padding: 16px;}
        @include min(768){padding: 18px; width: 46.305%;}
        @include min(992){padding: 19px;     border-radius: 20px;}
        @include min(1200){padding: 20px;         width: 35.305%;}
        @include min(1350){padding: 19px;       width: 31.305%;}
        @include min(1440){padding: 22px;}
        @include min(1600){padding: 26px;}
        @include min(1900){padding: 32px;}

        h3{
            color: $primaryColor;
            line-height: 100% ;
            margin-bottom: 16px;
        }
         a[href^="tel:"]{
                margin-bottom: 12px;
            }

        .phone,.email{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 10px;
            border: 1px solid #D4D3D3;
            background: #FFF;
            color: #737374;
            padding: 4px 6px;
            @include min(992){padding: 5px 7px;}
            @include min(1200){padding: 6px 8px;}
            @include min(1350){padding: 7px 9px;}
            @include min(1440){padding: 8px 10px;}
            @include min(1600){padding: 9px 11px;}
            @include min(1900){padding: 10px 12px;}
            p{
                line-height: 100%;
            }
            &:hover{
                background-color: $primaryColor;
                color: #fff;
                span{
                    background-color: #000;
                }
            }
            span{
                line-height:  100%;
                color: #fff;
                border-radius: 5px;
                background-color: $primaryColor;
                font-size: clamp(12px, 1.668vw, 16px);
                padding: 6px 6px;
                @include min(992){ padding: 3px 10px;}
                @include min(1200){ padding: 4px 6px;}
                @include min(1350){ padding: 5px 6px;}
                @include min(1440){ padding: 6px 13px;}
                @include min(1600){ padding: 7px 14px;}
                @include min(1900){ padding: 8px 15px;}
            }
        }
        .whatsapp{
            width: fit-content;
            display: flex;
            align-items: center;
            border-radius: 100px;
            color: #49AE45;
            border: 1px solid #49AE45;
            background: #FFF;
            gap: 5px;
            padding: 5px 20px;
            margin-top: 17px;
            @include min(1200){
                gap: 6px;
                padding: 6px 21px;
                margin-top: 18px;
            }
            @include min(1350){
                gap: 7px;
                padding: 7px 22px;
                margin-top: 19px;
            }
            @include min(1440){
                gap: 8px;
                padding: 8px 23px;
                margin-top: 20px;
            }
            @include min(1600){
                gap: 9px;
                padding: 9px 24px;
                margin-top: 21px;
            }
            @include min(1900){
                gap: 10px;
                padding: 10px 25px;
                margin-top: 22px;
            }

            svg{
                margin-top: -1px;
            }
            &:hover{
                background: #49AE45;
                color: #fff;

                path{
                    fill: #fff;
                }
            }
        }
    }
}