.services-listing{
    .services-box{
        display: flex;
        flex-direction: column;
        width: 511px;
        &:nth-last-child(even){
            picture{
                order: -1;
                margin-top: 0;
                margin-bottom: 26px;
            }
        }
        h3{
            color: #000;
            line-height: 100%;
            margin-bottom: 16px;
        }
        div{
               flex-grow: 1;
              display: flex;
        }
        img{
            width: 100%;
            object-fit: cover;
            height: 283px;
            
        }
        picture{
            margin-top: 18px;
        }
    }
    .services-row{
        gap: 73px 4.37%;
    }
}