.service-listing {
    &-row {
        gap: clamp(10px, 1.51vw, 29px);
    }

    .service-item {
        background: #F8F8F8;
        border-radius: 0px 0px 20px 20px;
        width: 48.5%;
        display: flex;
        flex-direction: column;

        @include min(768) {
            width: 32.21%;
        }

        @include min(992) {
            width: 23.635%;

        }

        img {
            border-radius: 20px;
            width: 100%;
            height: 120px;
            object-fit: cover;

            @include min(576) {
                height: 186px;
            }

            @include min(768) {
                height: 165px;
            }

            @include min(992) {
                height: 140px;
            }

            @include min(1200) {
                height: 190px;
            }

            @include min(1350) {
                height: 210px;
            }

            @include min(1440) {
                height: 230px;
            }

            @include min(1600) {
                height: 250px;
            }

            @include min(1900) {
                height: 285px;
            }
        }

        a {
            margin-top: auto;
        }
    }

    .service-details {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: clamp(10px, 1.0417vw, 20px);

        p {
            color: #4B535D;
        }

        div {
            margin-bottom: clamp(15px, 1.6667vw, 32px);
        }
    }

    h3 {
        margin-bottom: 8px;
    }
}



// =====================cta===================
.cta {
    h2 {
        font-weight: 500;

        margin-bottom: clamp(16px, 1.667vw, 32px);
    }

    &-container {
        width: 80.03%;
        margin: auto;
        border-radius: 20px;
        background: #FFF9E1;
    }

    &-links {
        padding-top: clamp(24px, 2.5vw, 48px);
        padding-bottom: clamp(24px, 2.5vw, 48px);
        gap: 0px 19px;


    }

    .whatsapp-box {
        img {
            object-fit: cover;
            height: 80px;

            @include min(576) {
                height: 99px;
            }

            @include min(768) {
                height: 109px;
            }

            @include min(992) {
                height: 119px;
            }

            @include min(1200) {
                height: 139px;
            }

        }

        img,
        picture {
            width: 100%;

            border-radius: 0 0 20px 20px;

        }

        a {
            transform: translate(-50%, -50%);
        }
    }
}

a.whtsappGreen {
    line-height: 71.429%;
    top: 50%;
    left: 50%;

    border-radius: 80px;
    border: 1px solid #49AE45;
    background: #FFF;
    color: #49AE45;
    gap: clamp(6px, 0.62vw, 12px);
    font-size: clamp(15px, 1.46vw, 28px);
    padding: 10px 16px;

    @include min(768) {
        padding: 12px 15px;
    }

    @include min(992) {
        padding: 13px 16px;
    }

    @include min(1200) {
        padding: 14px 17px;
    }

    @include min(1350) {
        padding: 15px 18px;
    }

    @include min(1440) {
        padding: 16px 19px;
    }

    @include min(1600) {
        padding: 17px 20px;
    }

    @include min(1900) {
        padding: 18px 21px;
    }

    svg {
        height: auto;
        width: clamp(18px, 1.25vw, 24px);

    }

    &:hover {
        background: #49AE45;
        color: #FFF;

        path {
            fill: #FFF;
        }
    }

}

a.contact-box {
    display: flex;
    align-items: center;
    border: 1px solid #FFA600;
    background: #FFF;
    color: #0A1119;
    font-weight: 500;
    transition:
        background-color 0.25s ease,
        color 0.25s ease,
        transform 0.25s ease,
        box-shadow 0.25s ease;
    border-radius: 15px;
    gap: clamp(10px, 0.9vw, 16px);
    padding: 11px 25px;

    @include min(768) {
        padding: 14px 22px;
        border-radius: 18px;
    }

    @include min(992) {
        padding: 13px 24px;
    }

    @include min(1200) {
        padding: 21px 22px;
        border-radius: 20px;
    }

    @include min(1350) {
        padding: 22px 24px;
    }

    @include min(1440) {
        padding: 23px 28px;
    }

    @include min(1600) {
        padding: 24px 30px;
    }

    @include min(1900) {
        padding: 25px 40px;
    }

    @include max(575) {
        width: 80%;

        +a {
            margin-top: 15px;
        }
    }

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #353E47;
        border-radius: 50%;
        width: clamp(35px, 2.605vw, 50px);
        height: clamp(35px, 2.605vw, 50px);
        transition:
            background-color 0.25s ease,
            color 0.25s ease,
            transform 0.25s ease,
            box-shadow 0.25s ease;

        svg {
            height: auto;
            width: clamp(16px, 2.605vw, 24px);
        }
    }

    &:hover {
        background-color: #353E47;
        color: #fff;
        transform: translateY(-3px);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);

        span {
            background-color: #fff;
            animation: ring 0.6s ease-in-out infinite;

            path {
                fill: #353E47;
            }
        }
    }
}


.service-details {
    .short-description {
        picture {
            height: fit-content;
            width: 100%;

            @include min(992) {
                width: 47.269%;
                position: sticky;
                top: 120px;
            }


            img {
                width: 100%;
                height: auto;
                border-radius: 10px;
                @include min(1200){
                    border-radius: 20px;

                }
            }
        }

        .description-text {
            width: 100%;
            @include max(991){
                margin-top: 20px;
            }
            @include min(992){
                width: 48.991%;

            }

        }
    }

    h2 {
        line-height: 100%;
        margin-bottom: 26px;
    }

    p {
        line-height: 160%;
        color: #4B535D;
        margin-top: clamp(10px, 0.938vw, 18px);

        &:last-child {
            margin-bottom: 0px;
        }
    }

    .images {
        margin: 20px 0px;
        @include min(768){
             margin-top:  clamp(39px, 4.1146vw, 79px);
        margin-bottom: clamp(23px, 1.875vw, 36px);
        }

        picture {
            width: 48.932%;
        }

        img {
            object-fit: cover;
            height: 144px;
            @include min(768){
                height: clamp(260px, 27.1355vw, 521px);

            }
        }
    }
}









.mid-enquiry {
    .mid-enquiry-form>h2 {
        margin-bottom: clamp(18px, 1.9792vw, 38px);
        padding-top: 17px;
        @include min(768){
            padding-left: clamp(180px, 15.7299vw, 302px);

        }
    }

    &-form {

        // margin-left: auto;
        // width: 1299px;
        @include min(768){
                padding-left:  clamp(150px, 16.771vw, 322px);
        }

        form {
            width:100%;
            margin-left: auto;
            border-radius: 20px;
            background: #F6F6F6;
            // padding: 38px 38px 38px 242px;
            padding: 20px;
       
            @include min(768){
                            width: 95.375%;
                padding-top: clamp(15px, 1.9792vw, 38px);
            padding-right: clamp(15px, 1.9792vw, 38px);
            padding-bottom: clamp(15px, 1.9792vw, 38px);
            padding-left: clamp(150px, 12.6042vw, 242px);
            }
        }
    }

    .col--6 {
        width: 48.676%;
        // margin-bottom: 24px;

    }

    .form-group {
        margin-bottom: clamp(12px, 1.24999vw, 24px);
    }

    .full {
        width: 100%;
    }

    input {
        height: clamp(40px, 3.646vw, 70px);
    }

    input,
    textarea {
        &::placeholder {
            color: #4B535D;
            font-weight: 200;
        }

        width: 100%;
        font-weight: 200;
        border-radius: 5px;
        border: 1px solid #C9C9C9;
        background: #FFF;
        color: #4B535D;
        line-height: 100%;

        padding-left: 25px;
        padding-right: 25px;


    }

    textarea {
        padding-top: clamp(15px, 1.303vw, 25px);
        height: clamp(70px, 7.448vw, 143px)
    }

    button {
        margin-top: 14px;
    }

    .contact-info {
       
        left: clamp(29px, 2.99vw, 59px);
        border-radius: 20px;
        background: #FFF9E1;
        width: 100%;
        padding: 30px 36px;
        @include min(768){padding: 25px 19px;     width: 290px;  position: absolute;}
        @include min(992){padding: 36px 28px; width: 32.236%;}
        @include min(1200){padding: 65px 30px;         width: 31.236%;}
        @include min(1350){padding: 70px 34px;}
        @include min(1440){padding: 75px 38px;}
        @include min(1600){padding: 80px 40px;}
        @include min(1900){padding: 85px 68px;}
        .cta-links{
            justify-content: center;
        }


        h2 {
            @include max(767){
                text-align: center;
            }
            margin-bottom: clamp(18px, 1.875vw, 36px);

        }

        a {
            font-size: 16px;
            @include min(768){font-size: 18px;}
            @include min(992){font-size: 16px;}
            @include min(1200){font-size: 20px;}
            @include min(1350){font-size: 22px;}
            @include min(1440){font-size: 24px;}
            @include min(1600){font-size: 26px;}
            @include min(1900){font-size: 28px;}

            +a {
                margin-top: clamp(9px, 0.94vw, 18px);
            }
        }

    }
}



// ================gallery===================

.gallery {

    picture {
        margin-left: clamp(8px, 0.87vw, 16.5px);
        margin-right: clamp(8px, 0.87vw, 16.5px);
        width: clamp(180px, 24.844vw, 477px);
    }

    img {
        width: 100%;
        height: auto;
        border-radius: clamp(10px, 0.99vw, 20px);
    }
}

.container-gallery {
    max-width: 94.143%;
    margin-left: auto;
}


.faq h2,
.gallery h2 {
    margin-bottom: clamp(18px, 1.875vw, 36px);
}



// ================end gallery===================
// ================Faq ===================
.faq {
    background: #F0F0F0;
    .accordion{
        width: 100%;
        + .accordion{
            @include max(767){
                margin-top: 12px;
            }
        }
        @include min(768){
                width: 48.991%;
        }
    }

    .accordion-item {
        border-radius: 9.845px;
        background: #FFF;
        border: unset !important;
        height: fit-content;
        padding-left: clamp(12px, 1.25065vw, 24px);
        padding-right: clamp(12px, 1.25065vw, 24px);

        +.accordion-item {
            margin-top: clamp(12px, 1.25065vw, 24px);
        }

    }

    .accordion-body {
        border-radius: 10px;
        padding: clamp(12px, 1.25065vw, 24px);
        margin-bottom: clamp(12px, 1.25065vw, 24px);
        background: #FFFDF3;
        color: #4B535D;
        line-height: 160%;


    }

    .accordion-header {
        border: unset !important;

    }

    .accordion-button {
        box-shadow: unset !important;
        border: unset !important;
        background: unset;
        color: #000;
        font-weight: 500;
        padding-top: clamp(20px, 2.034vw, 39px);
        padding-bottom:clamp(20px, 2.034vw, 39px);

        &::after {
            @extend .position;
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9734 1.49677C11.775 1.49677 11.5846 1.5756 11.4443 1.71593C11.304 1.85626 11.2251 2.04659 11.2251 2.24505V19.8942L6.51692 15.1845C6.37641 15.044 6.18584 14.965 5.98713 14.965C5.78842 14.965 5.59785 15.044 5.45734 15.1845C5.31683 15.325 5.23789 15.5155 5.23789 15.7143C5.23789 15.913 5.31683 16.1035 5.45734 16.244L11.4436 22.2304C11.5132 22.3 11.5957 22.3553 11.6866 22.3931C11.7776 22.4308 11.875 22.4502 11.9734 22.4502C12.0719 22.4502 12.1693 22.4308 12.2602 22.3931C12.3511 22.3553 12.4337 22.3 12.5032 22.2304L18.4895 16.244C18.5591 16.1745 18.6143 16.0919 18.652 16.001C18.6896 15.9101 18.709 15.8126 18.709 15.7143C18.709 15.5155 18.63 15.325 18.4895 15.1845C18.349 15.044 18.1585 14.965 17.9598 14.965C17.761 14.965 17.5705 15.044 17.43 15.1845L12.7217 19.8942V2.24505C12.7217 2.04659 12.6429 1.85626 12.5026 1.71593C12.3622 1.5756 12.1719 1.49677 11.9734 1.49677Z" fill="%230A1119"/></svg>');
            background-color: $primaryColor;
            background-position: center center;
            border-radius: 50%;
            right: 0;
            background-size: clamp(12px, 1.3vw, 24px) ;
            width: clamp(25px, 2.605vw, 50px);
            height: clamp(25px, 2.605vw, 50px);
        }
    }
}