// .solutions-listing{
//      a{
//         @extend .read-more;
//     }
// }
// .solutions-card{
//     border-radius: 20px;
//     border: 1px solid #EEE;
//     background: #FFF;
//     padding: clamp(20px, 2.08339vw, 40px);


//     img{
//         border-radius: 10px;

//     }
// }

.page-solutions {
    .container-ctn{
        border: unset;
    }
    .head{
        border: unset;
    }
    .slick-list{
        margin: 0px -7px;
        @include min(768){margin: 0px -9px;}
        @include min(992){margin: 0px -11px;}
        @include min(1200){margin: 0px -13px;}
        @include min(1350){margin: 0px -15px;}
        @include min(1440){margin: 0px -17px;}
        @include min(1600){margin: 0px -19px;}
        @include min(1900){margin: 0px -21px;}
    }
    .slick-slide{
        margin: 0px 7px;
        @include min(768){margin: 0px 9px;}
        @include min(992){margin: 0px 11px;}
        @include min(1200){margin: 0px 13px;}
        @include min(1350){margin: 0px 15px;}
        @include min(1440){margin: 0px 17px;}
        @include min(1600){margin: 0px 19px;}
        @include min(1900){margin: 0px 21px;}

        div{
            border-bottom: 1px solid #EEEEEE;
            padding-bottom: clamp(18px, 1.87498vw, 36px);;
            margin-bottom: clamp(20px, 2.1354vw, 41px);;
        }
    }
    .solutions-slider-item{
        border: 1px solid #EEEEEE;
        border-radius: 20px;
            // width: 41.39%;
            @include max(575){
                    background-size: 100px;
            }
    }
    picture{
        padding-bottom: 0;
        margin-top: 0;
    }
}


.solution-page-intro{
        margin-bottom: clamp(10px, 2.3438vw, 45px);

    picture{
        height: fit-content;
         @include max(767){
     
            margin-bottom: 20px;
        
    }
        @include min(768){
            width: 51.25%;
            position: sticky;
                   top: 80px;
        }
        img{
            border-radius: 16px;
            width: 100%;
            height: auto;
            @include min(992){
                border-radius: 20px;
            } 

        }
    }
    
}
.solution-detail-page{
    
}
.solution-short-content{
    width: 100%;
    @include min(768){
        width: 45.774%;

    }
}
.solution-long-description{

}
.solution-long-description,.solution-short-content{
    p{
        +p, +ul,ol, +h3,+h2{
            margin-top: clamp(10px, 0.84vw, 16px);
        }
    }
    ol,ul,h2,h3{
        +p{
            margin-top: clamp(10px, 0.84vw, 16px);
        }
    }
   
}
.solution-long-description,.solution-short-content,.long-description{
    p{
        +p, +ul,ol, +h3,+h2{
            margin-top: clamp(10px, 0.84vw, 16px);
        }
    }
    ol,ul,h2,h3{
        +p{
            margin-top: clamp(10px, 0.84vw, 16px);
        }
    }
   
}