// .solutions-listing{
//      a{
//         @extend .read-more;
//     }
// }
// .solutions-card{
//     border-radius: 20px;
//     border: 1px solid #EEE;
//     background: #FFF;
//     padding: clamp(20px, 2.08339vw, 40px);


//     img{
//         border-radius: 10px;

//     }
// }

.page-solutions {
    .container-ctn {
        border: unset;
    }

    .head {
        border: unset;
    }

    .slick-list {
        margin: 0px -7px;

        @include min(768) {
            margin: 0px -9px;
        }

        @include min(992) {
            margin: 0px -11px;
        }

        @include min(1200) {
            margin: 0px -13px;
        }

        @include min(1350) {
            margin: 0px -15px;
        }

        @include min(1440) {
            margin: 0px -17px;
        }

        @include min(1600) {
            margin: 0px -19px;
        }

        @include min(1900) {
            margin: 0px -21px;
        }
    }

    .slick-slide {
        margin: 0px 7px;

        @include min(768) {
            margin: 0px 9px;
        }

        @include min(992) {
            margin: 0px 11px;
        }

        @include min(1200) {
            margin: 0px 13px;
        }

        @include min(1350) {
            margin: 0px 15px;
        }

        @include min(1440) {
            margin: 0px 17px;
        }

        @include min(1600) {
            margin: 0px 19px;
        }

        @include min(1900) {
            margin: 0px 21px;
        }

        div {
            border-bottom: 1px solid #EEEEEE;
            padding-bottom: clamp(18px, 1.87498vw, 36px);
            ;
            margin-bottom: clamp(20px, 2.1354vw, 41px);
            ;
        }
    }

    .solutions-slider-item {
        border: 1px solid #EEEEEE;
        border-radius: 20px;

        // width: 41.39%;
        @include max(575) {
            background-size: 100px;
        }
    }

    picture {
        padding-bottom: 0;
        margin-top: 0;
    }
}





        .side-card>div,
        .side-card h3 {
            padding: 20px 15px;
            @include min(768){padding: 12px 32px;}
            @include min(992){padding: 18px 34px;}
            @include min(1200){padding: 24px 36px;}
            @include min(1350){padding: 30px 21px;}
            @include min(1440){padding: 36px 20px;}
            @include min(1600){padding: 42px 32px;}
            @include min(1900){padding: 48px 44px;}
        }

        .side-card form {
            padding: 22px 20px;
            @include min(768){padding: 24px 32px;}
            @include min(992){padding: 26px 34px;}
            @include min(1200){padding: 28px 36px;}
            @include min(1350){padding: 30px 38px;}
            @include min(1440){padding: 32px 40px;}
            @include min(1600){padding: 34px 42px;}
            @include min(1900){padding: 36px 44px;}
        }

        .side-card {
            >div {
                background: #FDFDFD;
                border-bottom: 1px solid #EEE;

            }

            &.menu a {
                position: relative;
                color: #000;
                display: flex;
                border-radius: 10px;
                border: 1px solid #E2E2E2;
                padding: 11px;
                &::before{
                                    border-radius: 10px;

                    transition: 0.5s ease all;
                      @extend .position;
                      width: 0;
                      height: 100%;
                      background: #ef41363b;
                      left: 0;
                      top: 0;
       
                }
                @include min(768){       padding: 12px;}
                @include min(992){       padding: 13px;}
                @include min(1200){       padding: 14px;}
                @include min(1350){       padding: 15px;}
                @include min(1440){       padding: 16px;}
                @include min(1600){       padding: 17px;}
                @include min(1900){       padding: 18px;}

                +a {
                    margin-top: 4px;
                }
                &:hover{
                    &::before{
                    transition: 0.5s ease all;
                    width: 100%;
                    }
                }

            }
        }
.solution-detail-page {

    aside {
        height: fit-content;
        top: 100px;
              width: 100%;


        border-radius: 20px;
        border: 1px solid #EEE;
        padding-top: 8px;
        @include min(992) {position: sticky;       width: 40.655% ;}
        @include min(1350){width: 30.791%;}
        h3 {
            line-height: initial;
            display: flex;
            align-items: center;
            color: #000;
            border-bottom: 1px solid #EEE;
            gap: clamp(6px, 0.66vw, 12px);

            
            div {
                background-color: $primaryColor;
                border-radius: 6.25px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                @include min(768){
                    width: clamp(40px, 2.605vw, 50px);
                    height: clamp(40px, 2.605vw, 50px);

                }
                svg{
                    height: auto;
                       width:15px;
                       @include min(768){
                           width: clamp(18px, 1.25vw, 24px);

                       }
                }
            }

        }


        a[href^="tel:"] {
            margin-bottom: 12px;
        }

        .phone,
        .email {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 10px;
            border: 1px solid #D4D3D3;
            background: #FFF;
            color: #737374;
            padding: 4px 6px;

            @include min(992) {
                padding: 5px 7px;
            }

            @include min(1200) {
                padding: 6px 8px;
            }

            @include min(1350) {
                padding: 7px 9px;
            }

            @include min(1440) {
                padding: 8px 10px;
            }

            @include min(1600) {
                padding: 9px 11px;
            }

            @include min(1900) {
                padding: 10px 12px;
            }

            p {
                line-height: 100%;
            }

            &:hover {
                background-color: $primaryColor;
                color: #fff;

                span {
                    background-color: #000;
                }
            }

            span {
                line-height: 100%;
                color: #fff;
                border-radius: 5px;
                background-color: $primaryColor;
                font-size: clamp(12px, 1.668vw, 16px);
                padding: 6px 6px;

                @include min(992) {
                    padding: 3px 10px;
                }

                @include min(1200) {
                    padding: 4px 6px;
                }

                @include min(1350) {
                    padding: 5px 6px;
                }

                @include min(1440) {
                    padding: 6px 13px;
                }

                @include min(1600) {
                    padding: 7px 14px;
                }

                @include min(1900) {
                    padding: 8px 15px;
                }
            }
        }

        .whatsapp {
            width: fit-content;
            display: flex;
            align-items: center;
            border-radius: 100px;
            color: #49AE45;
            border: 1px solid #49AE45;
            background: #FFF;
            gap: 5px;
            padding: 5px 20px;
            margin-top: 17px;

            @include min(1200) {
                gap: 6px;
                padding: 6px 21px;
                margin-top: 18px;
            }

            @include min(1350) {
                gap: 7px;
                padding: 7px 22px;
                margin-top: 19px;
            }

            @include min(1440) {
                gap: 8px;
                padding: 8px 23px;
                margin-top: 20px;
            }

            @include min(1600) {
                gap: 9px;
                padding: 9px 24px;
                margin-top: 21px;
            }

            @include min(1900) {
                gap: 10px;
                padding: 10px 25px;
                margin-top: 22px;
            }

            svg {
                margin-top: -1px;
            }

            &:hover {
                background: #49AE45;
                color: #fff;

                path {
                    fill: #fff;
                }
            }
        }


      

    }

    article {
        width: 100%;
        @include max(991){
            margin-top: 30px;
        }
        @include min(992){
        width: 56.358%;

        }
        @include min(1350){
            width: 65.392%;

        }
        h1{
            margin-bottom: clamp(18px, 1.87498vw, 36px);
        }
    }

}

.solution-short-content {
    width: 100%;

    @include min(768) {
        width: 45.774%;

    }
}

.solution-long-description {
    &.has-two-images {
        display: flex;
        flex-wrap: wrap;

        picture {
            width: 58.288%;

            +picture {
                width: 39.163%;
            }
            img{
                object-fit: cover;
                height: 140px;
                @include min(768){
                height: 190px;
                }
                @include min(992){
                    height: clamp(250px, 16.9792vw, 326px);

                }
            }
        }
    }
}

.solution-long-description,
.solution-short-content {
    justify-content: space-between;

    h2 {
        @extend h3;
        margin-bottom: 0;
        font-weight: 700 !important;

    }

    p,
    ul,
    ol {

        +p,
        +ul,
        ol,
        +h3,
        +h2,
        +picture,
        +picture+picture {
            margin-top: clamp(10px, 0.84vw, 16px);
        }
    }

    ol,
    ul,
    h2,
    h3 {
        +p {
            margin-top: clamp(10px, 0.84vw, 16px);
        }
    }

}

.solution-long-description,
.solution-short-content,
.long-description,
.product-long-description {
    p {

        +p,
        +ul,
        ol,
        +h3,
        +h2 {
            margin-top: clamp(10px, 0.84vw, 16px);
        }
    }

    ol,
    ul,
    h2,
    h3 {
        +p {
            margin-top: clamp(10px, 0.84vw, 16px);
        }
    }

}

.contact-form{
    
        label {
            color: #000;
            margin-bottom: 8px;
            display: block;

        }

        label,
        input,
        textarea {
            line-height: 87.5%;
            font-size:clamp(13px, 0.84vw, 16px);
        }

        .form-group {
            position: relative;
            margin-bottom: clamp(14px, 0.84vw, 16px);
        }

        input {
            height: 30px;
            @include min(992){height: 38px;}
            @include min(1350){height: 40px;}
            @include min(1600){height: 42px;}
        }

        input,
        textarea {
            width: 100%;

            border-radius: 3px;
            border: 1px solid #E2E2E2;
            background: #FFF;
            padding-left: 16px;
            padding-right: 16px;
        }

        textarea {
            padding-top: 14px;
            height: 86px;
            @include min(992){height: 90px;}
            @include min(1200){height: 100px;}
            @include min(1440){height: 110px;}
            @include min(1600){height: 120px;}
            @include min(1900){height: 126px;}
        }
}

.faq {
    @extend .commonPadding-pt;

    h2 {
        @extend h3;
        margin-bottom: 16px;
    }

    .accordion {
        margin-top: 20px;
        @include min(992){
            margin-top: 24px;

        }
    }

    .accordion-header {}

    .accordion-item {
        border: unset;
        border-radius: 10px;
        overflow: hidden;


        button {
            line-height: 160%;
            position: relative;
            border-radius: 10px 10px 0px 0px;
            background-color: #F1F1F1;
            position: relative;
            padding: 18px 18px 17px 18px;
            @include min(768){padding: 22px 22px 18px 22px;}
            @include min(992){padding: 23px 23px 19px 23px;}
            @include min(1200){padding: 24px 24px 20px 24px;}
            @include min(1350){padding: 25px 25px 21px 25px;}
            @include min(1440){padding: 26px 26px 22px 26px;}
            @include min(1600){padding: 27px 27px 23px 27px;}
            @include min(1900){padding: 28px 28px 24px 28px;}

        }

        +div {
            margin-top: 16px;
        }

        .accordion-body {
            border-radius: 0px 0px 10px 10px;
            border: 1px solid $primaryColor;
            border-top: unset;
            padding: 0px 18px 18px;
            @include min(768){padding: 0px 22px 22px;}
            @include min(992){padding: 0px 23px 23px;}
            @include min(1200){padding: 0px 24px 24px;}
            @include min(1350){padding: 0px 25px 25px;}
            @include min(1440){padding: 0px 26px 26px;}
            @include min(1600){padding: 0px 27px 27px;}
            @include min(1900){padding: 0px 28px 28px;}

            .content {
                padding-top: 16px;
                border-top: 1px solid #eee;
            }

        }

        .show {
            display: block;
            .accordion-body {}
        }
    }

    .accordion-button:not(.collapsed) {
        background: unset;
        color: #000;
        font-weight: 700;
        border: 1px solid $primaryColor;
        border-bottom: unset;

    }
}



.cta-inner{
    margin-top: 40px;
    border-radius: 10px;
background: #F1F1F1;
       padding:   18px;
            @include min(768){padding: 22px;   margin-top: 54px;}
            @include min(992){padding:  23px;   margin-top: 58px;}
            @include min(1200){padding:  24px;   margin-top: 62px;}
            @include min(1350){padding:25px;   margin-top: 66px;}
            @include min(1440){padding:26px;   margin-top: 70px;}
            @include min(1600){padding: 27px;     margin-top: 74px;}
            @include min(1900){padding: 28px;    margin-top: 78px;}


strong{
    color: #000;
    display: block;
}
.d-flex{
    gap: 12px;
    margin-bottom: 8px;

}
.cta-left,.cta-right{
    width: 100%;
}
}

