.inner-banner{
    &::before,&::after{
               content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &::before{
 
            background: rgba(0, 0, 0, 0.44);
            backdrop-filter: blur(40px);
        z-index: 1;
    }
    &::after{
        background: url(../images/inner-overlay.png);
        background-repeat: no-repeat;
        background-position: right;
            background-size: 100%;
            z-index: 2;
            @include min(992){
            background-size: 46.8%;

        }
    }
    img{
        width: 100%;
        height: clamp(160px, 18.7077vw, 359px);
    }
}


.bread-crumbs{
    padding: 16px 0px;
    border-bottom: 1px solid #EEE;
      a,li{
        color: #737374;
        text-transform: uppercase;
        line-height: normal;

        font-size: 14px;
    }
    li{

        &:last-child{
            color: $primaryColor;
            font-weight: 700;

            a{
            color: $primaryColor;
            font-weight: 700;

                
            }
        }
        +li{
            position: relative;
            margin-left: 12px;
            padding-left: 27px;
            &::before{
                @extend .position;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none"><path d="M10.8955 4.10449L14.292 7.5L10.8955 10.8955L7.5 14.292L4.10449 10.8955L0.707031 7.5L4.10449 4.10449L7.5 0.707031L10.8955 4.10449Z" stroke="%23737374"/></svg>');
                width: 15px;
                height: 15px;
            }
        }
    }
  
}