footer{
    background-color: #171616;
    background-image: url(../images/wellbing-logo-footer.png);
    background-repeat: no-repeat;
        background-position: 0px 99%;
        background-size: contain;
        border-top: 10px solid $primaryColor;
        @include min(992){
            background-position: bottom center;
            
        }
    @include max(991){
            margin-bottom: 40px;
    }
    @extend .commonPadding-pt; 

    .brand{
        width: 100%;
        @include min(768){
            width: 18.81%;
        }
        @include max(767){
            margin-bottom: 20px;
        }

        img{
            margin-bottom: 16px;
             @include min(992){   width: 57%;}
    height: auto;
        }
        p{
            color: #C9C9C9;
        }
    }
    .primary-links{
        width:50%;
        @include min(768){width: 19.941%;}
        @include min(1200){width: 21.941%;}
        @include min(992){width: 19.941%;}
        ul{
            column-count: 2;
        }
    }
    .title{
        color: #ffff;
        line-height: 100%;
        font-size:   clamp(18px, 1.88vw, 36px);

    }
    .quick-links{
         a{
                position: relative;
                &::before{
                    @extend .position;
                    width: 0%;
                    height: 1px;
                    background: $primaryColor;
                    left: 0;
                    bottom: 0;
                    transition: 0.5s ease all;

                }
                &:hover{
                    color: $primaryColor;
                    &::before{
                        width: 100%;
                        transition: 0.8s ease all;
                    }
                }
           
            }
         .title{
            margin-bottom: 1rem;
         }
        a{
          color: #BFBFBF;
            font-weight: 400;
        }
        &:last-child{
            @include max(575){
                margin-top: 20px;

            }
        }
    }
    .footer-row-one{
        border-bottom: 1px solid #EEEEEE;
        padding-bottom: 40px;
    }
    .footer-row-two{
        border-bottom: 1px solid #EEEEEE;
        @include max(767){
            padding-top: 30px;
        }
        ul{
            margin-top: 15px;
            gap:15px;
            @include min(768){gap: 20px;      margin-top: 20px;}
            @include min(992){gap: 40px;      margin-top: 25px;}
            @include min(1280){
                     margin-top: 31px;
                            gap: clamp(31px, 9.54vw, 62px);
            }
            svg{
                height: auto;
                width: clamp(20px, 2.5vw, 48px);
                                        transition: 0.5s ease all;

            }
                 a:hover{
                    svg{
                        opacity: 0.5;
                        transition: 0.5s ease all;
                        transform: scale(0.6);
                        
                    }
                }
        }
    }
}
.newsletter{
        padding-top: clamp(31px, 3.2292vw, 62px);
        padding-bottom: clamp(31px, 3.2292vw, 62px);
        @include min(768){
            padding-left: 30px;
                    border-left:1px solid #EEEEEE; 
        }
        @include min(1200){
             padding-left: clamp(90px, 9.532vw, 183px);
        }
        .title{
            margin-bottom: 1rem;
        }

        form{
            display: flex;
            align-items: center;
            position: relative;
            border: 1px solid #EF4136;
            background: #171616;
            margin-bottom: 10px;
                        margin-bottom: 13px;
            height: 38px;
            @include min(768){height: 40px;             margin-bottom: 15px;}
            @include min(992){height: 44px;             margin-bottom: 17px;}
            @include min(1200){height: 46px;             margin-bottom: 19px;}
            @include min(1350){height: 48px;            margin-bottom: 21px;}
            @include min(1440){height: 50px;margin-bottom: 23px;}
            @include min(1600){height: 51px;margin-bottom: 25px;}
            @include min(1900){height: 54px;margin-bottom: 27px;}
        }
        input{
            &::placeholder{
                color: #BFBFBF;

            }
            color: #BFBFBF;
            background: unset;
            width: 100%;
            height: 100%;
            padding-left: 35px;
               @include min-max(768,1199){ padding-left: 32px;}
            @include min(1200){
                padding-left: 51px;
                
            }
            &:focus{
                ~ svg{
                    path{
                     fill: $primaryColor;
                    }
                }
            }

        }
          .formGroup{
           
            
            &:focus-within{
                path{
                    fill: $primaryColor;
                    transition: 0.5s ease all;
                }
            }
            width: 100%;
            svg,button{
                   top: 50%;
             transform: translateY(-50%);
        }
          }
        .formGroup svg{

             position: absolute;
             left: 12px;
             height: auto;
                @include min-max(768,1199){width: 14px;  left: 10px;}
                @include min(1200){ left: 20px;}
             path{
                            transition: 0.5s ease all;
             }
      
         }
         button{
            overflow: hidden;
                transition: 0.5s ease all;
            position: absolute;
            background-color: $primaryColor;
            color: #FFF;
            line-height: 100%;
            gap: 3px;
            right:4px;
            padding: 2.5px 5px;
            @include min(992){padding: 4px 10px;         right: 4.5px;     gap: 13px;}
            @include min(1200){padding: 5px 10px;}
            @include min(1350){padding: 6px 10.5px;         right: 5px;}
            @include min(1440){padding: 7px 11px;}
            @include min(1600){padding: 8px 11.5px;         right: 6px;}
            @include min(1900){padding: 9px 12px;}
            svg{transition: 0.8s ease all;
                   @include min-max(768,1199){width: 17px;}
             
            }
            &:hover{
                background: #000;
                svg{
                    transition: 0.3s ease all;
                    transform:rotate(180deg);
                }
            }
         }

         p{
            color: #BFBFBF;


            a{
                color: $primaryColor;
                text-decoration: underline;

            }
         }
    
}

.copyright{
    padding: 22px 0px;
    @include max(767){
        justify-content: center;
        gap: 10px;
    }
    @include min(768){padding: 24px 0px;}
    @include min(992){padding: 26px 0px;}
    @include min(1200){padding: 28px 0px;}
    @include min(1350){padding: 30px 0px;}
    @include min(1440){padding: 32px 0px;}
    @include min(1600){padding: 34px 0px;}
    @include min(1900){padding: 36px 0px;}
    p,a{
        color: #BFBFBF;
        line-height:  100% ;
    }
    a{
        &:hover{
            color: $primaryColor;
        }
    }
}

html[dir="rtl"]{
    .newsletter{
        border-left: unset;
        padding-left: 0;
        @include min(768){
            padding-right: 30px;
            border-right: 1px solid #EEEEEE;
        }
        @include min(1200){
             padding-right: clamp(90px, 9.532vw, 183px);
        }
          button{
                right:unset;
                left: 4px;
          
            @include min(992){left: 4.5px;}
            @include min(1350){left: 5px;}
            @include min(1600){left: 6px;}
            }
         input{
        padding-left: 0;
            padding-right: 35px;
                     @include min-max(768,1199){ padding-right: 32px;}
            @include min(1200){
                padding-right: 51px;
            }
          
    }
      .formGroup svg{
             left: unset;
             right: 12px;
                @include min-max(768,1199){ right: 10px;}
                @include min(1200){ right: 20px;}
        
      
         }
    }
}