header{
    position: fixed;
    left: 0;
    top: 50px;
    width: 100%;
    z-index: 22;
    button{
        gap: 12px;
    }
    .container-ctn{
        border-radius: 100px;
        padding: 0px 32px;
        background: #FFF;

    }
    .header-left{
        width: 394px;
        button{
            padding: 39.5px 30px;
            margin-left: 30px;
            border-left: 1px solid #EEEEEE;
            border-right: 1px solid #EEEEEE;
        }
    }
    .header-right{
        width: 794px;
                justify-content: flex-end;
.language-switcher {
  position: relative;
  display: inline-block;
  font-family: inherit;
  margin-left: 30px;
  margin-right: 30px;
}

.lang-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 14px;
  border-radius: 999px;
  background: #f2f2f2;
  border: none;
  cursor: pointer;
}

.lang-btn .chevron {
  font-size: 12px;
}

.lang-menu {
  position: absolute;
  top: 110%;
  left: 0;
  min-width: 140px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  list-style: none;
  padding: 6px 0;
  margin: 0;
  display: none;
  z-index: 1000;
}

.lang-menu li {
  padding: 10px 16px;
  cursor: pointer;
  white-space: nowrap;
}

.lang-menu li:hover {
  background: #0d6efd;
  color: #fff;
}

/* show menu */
.language-switcher.open .lang-menu {
  display: block;
}

         
                select{
                    line-height: normal;

                    padding-right: 48px;
                        background-position: 78%;
                }

                a{
                    color: $primaryColor;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    +a{
                        margin-left: 30px;
                    }
                }

    }
}
.mobDropDown {
 position: relative;
 // &:hover{
 //  .dropdown-menu{
 //   display: block;
 //   transition: 0.5s ease all;
 //  }
 // }

 button {
  background: unset;
  &:focus-visible{
   border: unset;
   overflow: unset;
  }

  svg {
   height: auto;
   width:  clamp(15px, 1.3vw, 24px);
   transform: rotate(0deg);
   transition: transform 0.5s ease;
  }

  &.show {
   svg {
    transition: transform 0.5s ease;
    transform: rotate(180deg);
   }

  }
 }

 .dropdown-menu {
  position: unset !important;
  transform: translate(0) !important;
  border: unset;
  padding-top: 15px;
  padding-left: 15px;
  
  background: unset;


  li {


   &:hover {
    background: $white;

    a {
     color: $primaryColor;

    }
   }

  }
 }
}

