* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-family: $primary-font;
  font-size: 14px;


  @include min(992) {
    font-size: 13px;
  }

  @include min(1200) {
    font-size: 15px;
  }

  @include min(1350) {
    font-size: 16px;
  }

  @include min(1440) {
    font-size: 17px;
  }

  @include min(1600) {
    font-size: 18px;
  }

  @include min(1900) {
    font-size: 20px;
  }
}

body {
  transition: 0.5s ease all;
  overflow-x: hidden;

}

.container-header {
  margin-right: auto;
  margin-left: auto;
  max-width: 94.062%;

  @include min(992) {
    max-width: 90.8478%;
  }
}



.container-ctn {
  max-width: 92%;
  margin-right: auto;
  margin-left: auto;

  @include min(576) {
    max-width: 95%;
  }

  @include min(992) {
    max-width: 88.076%
  }

  
}


ul {
  padding: 0;
  margin: 0;
}

button {
  border: unset;
}

a {

  &:focus,
  &:active {
    outline: unset !important;
    box-shadow: unset !important;
  }

}

.p-0 {
  padding: 0 !important;
}

.commonPadding {
  padding-top: 50px;
  padding-bottom: 50px;

  @include min(992) {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  @include min(1200) {
    padding-top: 74px;
    padding-bottom: 74px;
  }

  @include min(1280) {
    padding-top: 78px;
    padding-bottom: 78px;
  }

  @include min(1440) {
    padding-top: 82px;
    padding-bottom: 82px;
  }

  @include min(1600) {
    padding-top: 86px;
    padding-bottom: 86px;
  }

  @include min(1900) {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}



.commonPadding-72{
  padding-top: 30px;
  padding-bottom: 30px;

  @include min(768) {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  @include min(992) {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  @include min(1200) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include min(1350) {
    padding-top: 62px;
    padding-bottom: 62px;
  }

  @include min(1440) {
    padding-top: 64px ;
    padding-bottom: 64px;
  }

  @include min(1600) {
    padding-top: 68px;
    padding-bottom: 68px;
  }

  @include min(1900) {
    padding-top: 72px;
    padding-bottom: 72px;
  }
}
.commonPadding-72-pb{
  padding-bottom: 30px;

  @include min(768) {
    padding-bottom: 45px;
  }

  @include min(992) {
    padding-bottom: 55px;
  }

  @include min(1200) {
    padding-bottom: 60px;
  }

  @include min(1350) {
    padding-bottom: 62px;
  }

  @include min(1440) {
    padding-bottom: 64px;
  }

  @include min(1600) {
    padding-bottom: 68px;
  }

  @include min(1900) {
    padding-bottom: 72px;
  }
}
.commonPadding-72-pt{
  padding-top: 30px;

  @include min(768) {
    padding-top: 45px;
  }

  @include min(992) {
    padding-top: 55px;
  }

  @include min(1200) {
    padding-top: 60px;
  }

  @include min(1350) {
    padding-top: 62px;
  }

  @include min(1440) {
    padding-top: 64px;
  }

  @include min(1600) {
    padding-top: 68px;
  }

  @include min(1900) {
    padding-top: 72px;
  }
}
.commonPadding-120 {
  padding: 40px 0px;

  @include min(768) {
    padding: 60px 0px;
  }

  @include min(992) {
    padding: 70px 0px;
  }

  @include min(1200) {
    padding: 90px 0px;
  }

  @include min(1350) {
    padding: 95px 0px;
  }

  @include min(1440) {
    padding: 100px 0px;
  }

  @include min(1600) {
    padding: 110px 0px;
  }

  @include min(1900) {
    padding: 120px 0px;
  }

}
.commonPadding-120-pb {
  padding-bottom: 40px;

  @include min(768) {
    padding-bottom: 60px;
  }

  @include min(992) {
    padding-bottom: 70px;
  }

  @include min(1200) {
    padding-bottom: 90px;
  }

  @include min(1350) {
    padding-bottom: 95px;
  }

  @include min(1440) {
    padding-bottom: 100px;
  }

  @include min(1600) {
    padding-bottom: 110px;
  }

  @include min(1900) {
    padding-bottom: 120px;
  }

}
.commonPadding-120-pt {
  padding-top: 40px;

  @include min(768) {
    padding-top: 60px;
  }

  @include min(992) {
    padding-top: 70px;
  }

  @include min(1200) {
    padding-top: 90px;
  }

  @include min(1350) {
    padding-top: 95px;
  }

  @include min(1440) {
    padding-top: 100px;
  }

  @include min(1600) {
    padding-top: 110px;
  }

  @include min(1900) {
    padding-top: 120px;
  }

}
.commonMargin-120 {
  margin: 40px auto!important;

  @include min(768) {
    margin: 60px auto!important;
  }

  @include min(992) {
    margin: 70px auto!important;
  }

  @include min(1200) {
    margin: 90px auto!important;
  }

  @include min(1350) {
    margin: 95px auto!important;
  }

  @include min(1440) {
    margin: 100px auto!important;
  }

  @include min(1600) {
    margin: 110px auto!important;
  }

  @include min(1900) {
    margin: 120px auto!important;
  }

}


.commonMargin-72-mb{
  margin-bottom: 30px;

  @include min(768) {
    margin-bottom: 45px;
  }

  @include min(992) {
    margin-bottom: 55px;
  }

  @include min(1200) {
    margin-bottom: 60px;
  }

  @include min(1350) {
    margin-bottom: 62px;
  }

  @include min(1440) {
    margin-bottom: 64px;
  }

  @include min(1600) {
    margin-bottom: 68px;
  }

  @include min(1900) {
    margin-bottom: 72px;
  }
}
.position {
  content: "";
  position: absolute;
}

.wh-100 {
  width: 100%;
  height: 100%;
}

.slick-nav {
  cursor: pointer;
  width: 100%;


  @include min(1900) {
    width: 100%;
  }

  >div {
    position: relative;
    display: flex;
    align-items: center;
    transition: 0.5s ease all;
  }
}




.jq-stars {
  display: inline-block;
}

.jq-rating-label {
  font-size: 22px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-family: helvetica, arial, verdana;
}

.jq-star {
  cursor: pointer;
}

.jq-star-svg {
  width: 100%;
  height: 100% !important;
}

.jq-star-svg polygon {
  stroke-linejoin: round;
}

.tab-content>.tab-pane {
  display: block;
  height: 0;
  overflow: hidden;
}

.tab-content>.active {
  height: auto;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: $white;
  border-radius: 80px;
}




roll::-webkit-scrollbar-track {
  background-color: $white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $primaryColor;
  border-radius: 10px;

  /* GAP using border and background clip */
  border: 2px solid transparent;
  background-clip: padding-box;
  margin: 10px 0;
  /* Adds top & bottom gap (optional) */
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-2 {
  margin-top: 20px !important;
}

.mt-3 {
  margin-top: 30px !important;
}

.mt-4 {
  margin-top: 40px !important;
}

.bg-unset {
  background: unset !important;
}

picture,
article {
  display: block;
}

.w-fit {
  width: fit-content !important;
}

.py-0 {
  padding: 0 !important;
}

li {
  list-style: none;
}


.list {
  ul {
    margin-top: 18px;
    li {
      position: relative;
      padding-left: clamp(28px, 2.1875vw, 42px);

      &::before {
        @extend .position;
        background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.1006 12H3.10058" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M15.1006 18L21.1006 12L15.1006 6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        background-size: contain;
        background-repeat: no-repeat;
        background-color: $primaryColor;
        border-radius: 50%;
        background-position: center center;
        left: 0;
        top: 0px;
            width: 22px;
        height: 22px;
        background-size: 14px;

        @include min(992){
           width:30px;
        height: 30px;
        background-size: 18px;
        }
      }

      +li {
        margin-top: clamp(13px, 1vw, 18px);

      }
    }
  }

  &.listDark {
    ul {
      li {
        &::before {
          filter: invert(1);
        }
      }
    }
  }
}

span.error {
  border: 1px solid #FF4040 !important;
}

.error-message {
  color: #FF4040;
  display: none;
  font-size: 12px;
  position: absolute;
  bottom: -20px;
  left: 0;
  line-height: normal;
  z-index: 1;
  background: #fff;
  width: fit-content;
  padding: 0px 10px;
  border-radius: 5px;
  margin-bottom: 3px;
  // margin-top: -10px;
}

.iti {
  width: 100%;
}

.iti__flag-container {
  padding-left: 6px;
}

.iti--allow-dropdown input[type="tel"] {
  padding-left: 71px;
}
.iti--allow-dropdown input[type="number"] {
  padding-left: 71px;
}

.iti__country-list {
  z-index: 9;
}

.iti__arrow {
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"><path d="M12.75 7.5L9 11.25L5.25 7.5" stroke="%23414A66" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  width: 18px;
  height: 18px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  border: unset !important;
  transition: 0.5s ease all;
  margin-left: 10px;
}

.iti__arrow--up {
  transform: rotate(180deg);
  transition: 0.5s ease all;
}

.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
  background-color: unset;
}

.iti__selected-flag {
  div:first-child {
    transform: scale(1.4);
  }
}

.iti--allow-dropdown .iti__flag-container,
.iti--separate-dial-code .iti__flag-container {
  left: 5px;
}

textarea {
  resize: none;

}

input,
textarea,
select {
  outline: unset;
  border: unset;

  &:focus,
  &:focus-visible,
  &:focus-within {
    outline: unset;
    border: unset;
  }
}

select {
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12" fill="none"> <path d="M19.513 0.438696C19.2317 0.157489 18.8502 -0.000484467 18.4525 -0.000484467C18.0547 -0.000484467 17.6733 0.157489 17.392 0.438696L9.96697 7.8637L2.54197 0.438696C2.25907 0.165459 1.88016 0.014267 1.48687 0.0176849C1.09357 0.021102 0.717352 0.178856 0.43924 0.456967C0.161127 0.73508 0.00337601 1.1113 -4.19617e-05 1.50459C-0.00345993 1.89789 0.147732 2.27679 0.420969 2.5597L8.90647 11.0452C9.18776 11.3264 9.56922 11.4844 9.96697 11.4844C10.3647 11.4844 10.7462 11.3264 11.0275 11.0452L19.513 2.5597C19.7942 2.2784 19.9521 1.89694 19.9521 1.4992C19.9521 1.10145 19.7942 0.719987 19.513 0.438696Z" fill="black"/> </svg>');
  border: unset;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 95%;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;

  @include max(575) {
    background-position: 96%;
    background-size: 14px;

  }

  &:focus-visible {
    outline: unset;
  }
}



.justify-content-lg-between {
  @include min(992) {
    justify-content: space-between;
  }
}

.navbar-toggler {
  background: unset;
  border: unset;
  border-radius: unset;
      transition: transform 0.35s ease, stroke 0.35s ease;
path{
      transition: stroke 0.35s ease;

}
&:hover{
path{
  @include max(991){
    path:#000
  }
    @include min(992){
  stroke: #000;
}
}}

}

.navbar-toggler:focus {
  border: unset;
  outline: unset;
  box-shadow: unset;
}

// .fancybox-container {
//   z-index: 99999999999999999999999999;
// }
// .fancybox-infobar span {
//   color: #fff;
// }
// .iti-mobile .iti--container {
//   z-index: 9999999999;
// }

input[type="date"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: left;
}

// .file-upload {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   gap: 10px;
// }

// .file-label {
//   display: inline-flex;
//   align-items: center;
//   padding: 10px 20px;
//   border: 2px solid $primaryColor;
//   border-radius: 5px;
//   cursor: pointer;
//   transition: background-color 0.3s ease, color 0.3s ease;
//   color: #007bff;
//   text-decoration: none;
// }

// .file-label:hover {
//   background-color: $primaryColor;
//   span {
//     color: white;
//   }
// }

// .file-input {
//   display: none;
// }

// .file-info {
//   font-size: 0.9em;
//   color: #555;
// }

// .file-name {
//   margin-top: 10px;
//   font-size: 0.9em;
//   color: #333;
//   word-wrap: break-word;
// }

// .file-icon {
//   margin-right: 10px;
// }

// .file-cta {
//   display: flex;
//   align-items: center;
// }





#fadeSection {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  /* Smooth transition */
}

.visible {
  opacity: 1 !important;
  transition: opacity 1s ease-in-out;
}

.formGroup {
  position: relative;
}




input.error,
textarea.error {
  border: 1px solid #FF4040 !important;
}



/* Hide number input spinner */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

//  .custom-checkbox {
//   margin-top: 4px;
//   display: flex;
//   align-items: center;
//   cursor: pointer;
//   font-size: 16px;
//   user-select: none;
// }

//   .custom-checkbox input {
//       position: absolute;
//       opacity: 0;
//       cursor: pointer;
//   }

// .custom-checkbox .checkmark {
//     position: relative;

//     background-color: transparent;
//     border: 1px solid #CFCFD2;
//     margin-right: 10px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     border-radius: 4px; /* Add this for rounded corners */
//     height: 17px;
//     width: 17px;

//     @include min(992){
//       margin-right: 8px;

//     }
//     @include min(1200){
//       margin-right: 9px;
//       height: 19px;
//       width: 19px;
//     }
//     @include min(1440){
//       margin-right: 10px;
//       height: 20px;
//       width: 20px;
//     }
//     @include min(1600){
//       height: 22px;
//       width: 22px;
//     }
//     @include min(1900){
//       height: 24px;
//       width: 24px;
//     }
// }

// .custom-checkbox input:checked ~ .checkmark::before {
//     content: "";
//     position: absolute;
//     width: 9px;
//     height: 18px;
//     border: solid #00C2AE;
//     border-width: 0 3px 3px 0;
//     transform: rotate(45deg);
//     top: -6px;
//     right: 0px;
//     @include min(1440){
//       width: 9px;
//     height: 18px;
//     }
//     @include min(1600){
//       width:11px;
//     height: 20px;
//     }
//     @include min(1900){
//       width: 13px;
//     height: 22px;
//     }
// }
.hidden {
  display: none;
}

.show {
  display: inline-block;
}

.visibility-hidden {
  visibility: hidden;
}

.dropdown-menu {
  width: 100%;
  margin: auto !important;
  background: unset;

  button {
    color: $white;
  }
}

.dropdown-item.active {
  background: unset !important;

  &:hover {
    color: $black !important;
  }
}

.dropdown-item:hover {
  background: $white !important;
}

.dropDown {
  margin-bottom: 24px;

  button {

    color: #fff;
    font-weight: 400;
    width: 100%;

    font-size: 16px;
    line-height: 24px;
    text-align: left;
    position: relative;
    padding: 8px 20px 8px 20px;
    white-space: pre-line;

    &::after {
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      border: unset;
      width: 16px;
      height: 16px;
      background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.0889 6.19526C13.3493 6.45561 13.3493 6.87772 13.0889 7.13807L8.4468 11.7802C8.32178 11.9052 8.15221 11.9754 7.9754 11.9754C7.79859 11.9754 7.62902 11.9052 7.50399 11.7802L2.86188 7.13807C2.60153 6.87772 2.60153 6.45561 2.86188 6.19526C3.12223 5.93491 3.54434 5.93491 3.80469 6.19526L7.9754 10.366L12.1461 6.19526C12.4065 5.93491 12.8286 5.93491 13.0889 6.19526Z" fill="%23ffff"/></svg>');
    }
  }

  border-radius: 8px;
  background: $primaryColor;
  font-size: 16px;
  line-height: 24px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  border-radius: 8px;
}

.select2-container--default .select2-results>.select2-results__options {
  padding: 8px;
  background-color: #2f353f;

  &::-webkit-scrollbar-track {
    background-color: #2f353f;
  }

  &::-webkit-scrollbar-thumb {
    background: #979A9C;
  }
}

.select2-dropdown {
  background-color: transparent;
}

.select2-results__option {
  padding: 4px 12px;
  line-height: 150%;
  margin-bottom: 4px;
}




.slick-track {
  margin-left: 0;
}

// .slick-slider .slick-track, .slick-slider .slick-list { transform: none; }

.fancybox-navigation .fancybox-button div {
  background: rgb(255 255 255);
}

.fancybox-container {
  z-index: 99999999999999999;
}

.fancybox-button {
  background: rgb(255 255 255);
}







.slick-nav {
  z-index: 0;


  div {




    svg {

      height: auto;


      &:hover {
        path {
          fill: $primaryColor;
        }
      }

    }
  }
}


.modal-backdrop.show {
  opacity: 1;
  background: rgb(25, 33, 60) !important;
  opacity: 0.53;
}


.mobile-menu {
  padding-bottom: 11px;

  display: flex;
  justify-content: flex-end;
  align-items: end;

}



.fancybox-button svg {
  filter: invert(1);
}

